In [1]:
word = "word"
print (word)

word

In [2]:
sentence = "this is a sentence"
print (sentence)

this is a sentence

In [3]:
paragraph = """this is a paragraph
this is a paragraph"""
print (paragraph)

this is a paragraph
this is a paragraph

In [4]:
# testing variables and values

a = 556
b = "dgsfsgd"
c = "65656 sdkjvj"
d = 112.45
print(a)
print(b)
print(c)
print(d)
print (type(a))
print (type(b))
print (type(c))
print (type(d))

556
dgsfsgd
65656 sdkjvj
112.45
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [5]:
# python is case sensitive

case = 12
CASE = 24
cAsE = 48
print(case,CASE,cAsE)

12 24 48

In [6]:
a = b = c = 12
print(a,b,c)

12 12 12

In [7]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [8]:
a = "sam"
b = "lisa"
c = "bell"
a = "IMPOSTER"

print(a,b,c)

IMPOSTER lisa bell

In [9]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
var = 1
print(type(var))

var = "athul"
print(type(var))

var = 2.36
print(type(var))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
total = 100 # An integer assignment
marks = 85.0 # A floating point
name = "Edubridge" # A string
print (total) 
print (marks)
print (name)

100
85.0
Edubridge

In [12]:
#slicing
 # positive indexing is [0,1,2.....x]   # for indexing we use [x:y] which give values from xth position till y-1 position
    
 # negative indexing is [-x.....-2,-1] 

x = "apple"
print(x[2])
print(x[:4])
print(x[:])
print(x[4:])
print(x[5:])
print(x[122:])

p
appl
apple
e

In [13]:
x = 12
z = x * 3
print(z)

y = x / 3

print(y)

w = x - 4

print(w)

print(x+x+x-3)

36
4.0
8
33

In [14]:
# lower and upper case


a = "vchgacBSDCBCJHSjk"

print(a.lower())
print(a.upper())

vchgacbsdcbcjhsjk
VCHGACBSDCBCJHSJK

In [15]:
# strip for removing white spaces at the beginning or end


c = "          fdsfdff"

print(c.strip())

fdsfdff

In [16]:
#replace

c = "          fdsfdff"

print(c.replace("f","3"))

print(c.strip().replace("f","3"))

          3ds3d33
3ds3d33

In [17]:
# string concatenation


x = "apple"
y = "and"
z = "orange"
w = 222

a = x + " " + y + " " + z

print(a)

# concatenating string with int

b = x + " " + y + " " + z + " " + str(w)

print(b)

apple and orange
apple and orange 222

In [18]:
# string split

text = 'geeks for geeks'
  
# Splits at space
print(text.split())
  
word = 'geeks, for, geeks'
  
# Splits at ','
print(word.split(','))
  
word = 'geeks:for:geeks'
  
# Splitting at ':'
print(word.split(':'))
  
word = 'CatBatSatFatOr'
  
# Splitting at t
print(word.split('t'))

['geeks', 'for', 'geeks']
['geeks', ' for', ' geeks']
['geeks', 'for', 'geeks']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']

In [19]:
# exercise

#1.	Use the len method to print the length of the string.A=’Data Analytics’

A = "Data Analytics"

print(len(A))

14

In [20]:
# 5.	Write a Python program to create two strings s1 and s2. 
#       Assign in s1 as ‘Python’ and in s2 as ‘Strings.
#       Print the character from 2nd index to 5th index of s1.
#       Print the characters from 2nd to end.
#       Concatenate both s1 and s2.
#       Repeat s2 three times.


s1 = "Python"
s2 = "Strings"

print(s1[2:5])
print(s2[2:])

print(s1 + " " + s2)

print(s2 * 3)

print   ((s2 +" ")*3)

tho
rings
Python Strings
StringsStringsStrings
Strings Strings Strings

In [21]:
# defining strings in Python
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [22]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am
str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [23]:
#list  

# list items are ordered, changeable, and allow duplicates




x = ["a","b","c","d","a"]
print(x)

['a', 'b', 'c', 'd', 'a']

In [24]:
x = ["a","b","c","d","a"]
print(len(x))

#can be of any datatypes

l1 = ["a","b"]
l2 = [1,2,3]
l3 = [True,False]

print(l1,l2,l3)
print(type(l1))
print(type(l2))
print(type(l3))

x = ["asa", 2132, 2.7567, True]

print(x)

5
['a', 'b'] [1, 2, 3] [True, False]
<class 'list'>
<class 'list'>
<class 'list'>
['asa', 2132, 2.7567, True]

In [25]:
# range of index
# can specify a range of index by specifying where to start and where to end

x = ["a","b","c","d","a"]
print(x[2:])

['c', 'd', 'a']

In [26]:
# check if item exist  - to determine if a specified item is present in a list we use "in" keyword
# eg: to check if "engineer" is present in my designation list

l1 = ["doctor","engineer","teacher","nurse"]

if "engineer" in l1: 
    print ("present")

present

In [27]:
# change list items to change value of a specific item

fruits = ["kiwi","apple","banana","grapes"]
fruits[1] = "watermelon"
print(fruits)

['kiwi', 'watermelon', 'banana', 'grapes']

In [28]:
# add an item in list

fruits = ["kiwi","apple","banana","grapes"]
fruits.insert(2,"watermelon")
print(fruits)

['kiwi', 'apple', 'watermelon', 'banana', 'grapes']

In [29]:
# add an item in the end

fruits = ["kiwi","apple","banana","grapes"]
fruits.append("watermelon")
print(fruits)

['kiwi', 'apple', 'banana', 'grapes', 'watermelon']

In [30]:
# extend list

fruits = ["kiwi","apple","banana","grapes"]
fruits2 = ["strawberry","plum"]
fruits.extend(fruits2)
print(fruits)

['kiwi', 'apple', 'banana', 'grapes', 'strawberry', 'plum']

In [31]:
# remove items in list
# pop() method removes the specified index

fruits = ["kiwi","apple","banana","grapes"]
fruits.pop(2)
print(fruits)
fruits.pop()
print(fruits)

['kiwi', 'apple', 'grapes']
['kiwi', 'apple']

In [32]:
fruits = ["kiwi","apple","banana","grapes"]
fruits.pop()
print(fruits)

['kiwi', 'apple', 'banana']

In [33]:
# deleting item from list

fruits = ["kiwi","apple","banana","grapes"]
del fruits[0]
print(fruits)

['apple', 'banana', 'grapes']

In [34]:
fruits = ["kiwi","apple","banana","grapes"]
del fruits[:]
print(fruits)

[]

In [35]:
# clear list
fruits = ["kiwi","apple","banana","grapes"]
fruits.clear()
print(fruits)

[]

In [36]:
# create two list and perform slicing, concatenate and repeat it

fruits = ["kiwi","apple","banana","grapes"]
vegetables = ["tomato","ginger",]
print(fruits + vegetables)  # concatenate
print(fruits*3)  # multipling
print(fruits[2])  # slicing

['kiwi', 'apple', 'banana', 'grapes', 'tomato', 'ginger']
['kiwi', 'apple', 'banana', 'grapes', 'kiwi', 'apple', 'banana', 'grapes', 'kiwi', 'apple', 'banana', 'grapes']
banana

In [37]:
list1 = ["A","B","C","D"]
list2 = [1,2,3,4]
print(list1 + list2)

['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [38]:
# tuples
# tuples use this ()
# it is mostly used for reading and it cannot be edited
# tuples are in a defined order
# it can have same value(duplicates)
tuple1 = ("A","B","C","D")
print(tuple1)

('A', 'B', 'C', 'D')

In [39]:
tuple1 = ("A","B","C","D")
print(len(tuple1))

4

In [40]:
tuple1 = ("A","B","C","D")
tuple2 = (1,2,3,4)
print(tuple1 + tuple2)
print(tuple1[3])
print(tuple1 * 3)
print(tuple[:3])

('A', 'B', 'C', 'D', 1, 2, 3, 4)
D
('A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D')
tuple[slice(None, 3, None)]

In [41]:
# create tuple with one item- you have to add a coma after the item, 
#otherwise python interpreter will not recognise it as tuple

a = ("b")
print(type(a))

c = ("d",)
print(type(c))

<class 'str'>
<class 'tuple'>

In [42]:
# tuple item-datatypes -can be of any datatype

a = ("A","B","C","D")
b = ("a","b","c","d")
c = (1,2,3,4)
d = (True,False)
print(a,b,c,d)

('A', 'B', 'C', 'D') ('a', 'b', 'c', 'd') (1, 2, 3, 4) (True, False)

In [43]:
# tuple can contain different datatypes

a = ("A",1524,True,12.5)
print(a)

('A', 1524, True, 12.5)

In [44]:
# tuple() constructor- possible to use the tuple() constructor to make a tuple

a = tuple((1,2,3,4))
print(a)

(1, 2, 3, 4)

In [45]:
b = tuple(("aa","bb","cc","dd"))
print(b)

('aa', 'bb', 'cc', 'dd')

In [46]:
# tuple changing tuple values cannot happen
# tuples are immutable
# there are work arounds
# you can convert the tuple into list, change the list and convert the list back to tuple.

x = ("biriyani","salad","kabab","dal","rice")
y = list(x)
y[1] = "chicken mughalai"
x = tuple(y)
print(x)

('biriyani', 'chicken mughalai', 'kabab', 'dal', 'rice')

In [47]:
# dictionary
# it is immutable
# used to store data values in key:value pairs
# it is a collection which is ordered , changeable, and do not allow duplicates
# enclosed in {} and have keys and values

a = {"x":10,"y":20,"z":30}
print(a)

{'x': 10, 'y': 20, 'z': 30}

In [48]:
b = {"x":10,"y":20,"x":30} # duplicate values will be overwritten with last values 
print(b)

{'x': 30, 'y': 20}

In [49]:
c = {"x":10,"x":20,"x":5}
print(c)
print(len(c))

{'x': 5}
1

In [50]:
a = {"x":10,"y":20,"z":30}
b = {1:10,2:20,3:30}
c = {"m":True,"n":True,"o":False}
d = {list:[1,2,2,4,4,4,4,6]}
print(a,b,c,d)
print(type(a))

{'x': 10, 'y': 20, 'z': 30} {1: 10, 2: 20, 3: 30} {'m': True, 'n': True, 'o': False} {<class 'list'>: [1, 2, 2, 4, 4, 4, 4, 6]}
<class 'dict'>

In [51]:
dictionary = {"x":10,"y":20,"z":30,1:10,2:20,3:30,"m":True,"n":True,"o":False,"fakelist":[1,2,2,4,4,4,4,6]}
print(dictionary)

{'x': 10, 'y': 20, 'z': 30, 1: 10, 2: 20, 3: 30, 'm': True, 'n': True, 'o': False, 'fakelist': [1, 2, 2, 4, 4, 4, 4, 6]}

In [52]:
# accessing items - access the items of the dictionary by referring to its key name

dictionary = {"x":10,"y":20,"z":30,1:10,2:20,3:30,"m":True,"n":True,"o":False,"fakelist":[1,2,2,4,4,4,4,6]}

a = dictionary["z"]
b = dictionary["fakelist"]

print(a,b)

30 [1, 2, 2, 4, 4, 4, 4, 6]

In [53]:
# another method to access the item
dictionary = {"x":10,"y":20,"z":30,1:10,2:20,3:30,"m":True,"n":True,"o":False,"fakelist":[1,2,2,4,4,4,4,6]}

a = dictionary.get("m")
print(a)

True

In [54]:
# get keys : we can return a list of all the keys in dictionary

dictionary = {"x":10,"y":20,"z":30,1:10,2:20,3:30,"m":True,"n":True,"o":False,"fakelist":[1,2,2,4,4,4,6]}

dictionary.keys()
print(dictionary)

{'x': 10, 'y': 20, 'z': 30, 1: 10, 2: 20, 3: 30, 'm': True, 'n': True, 'o': False, 'fakelist': [1, 2, 2, 4, 4, 4, 6]}

In [55]:
# update the values
dictionary = {"x":10,"y":20,"z":30,1:10,2:20,3:30,"m":True,"n":True,"o":False,"fakelist":[1,2,2,4,4,4,6]}
dictionary["z"] = 11111
print(dictionary)

{'x': 10, 'y': 20, 'z': 11111, 1: 10, 2: 20, 3: 30, 'm': True, 'n': True, 'o': False, 'fakelist': [1, 2, 2, 4, 4, 4, 6]}

In [56]:
# removing items: pop() method removes the item with specified keyname

dictionary = {"a":"apple","b":"ball","c":"car","d":"dog"}

#print(dictionary.pop("a"))
#print(dictionary.popitem())
#print(dictionary.pop("b"))   #having different output

dictionary.pop("a")
print(dictionary)

dictionary.popitem()  # removes the last value
print(dictionary)

dictionary.popitem()  # removes the last value
print(dictionary)

{'b': 'ball', 'c': 'car', 'd': 'dog'}
{'b': 'ball', 'c': 'car'}
{'b': 'ball'}

In [57]:
# del deletes the dictionary

dictionary = {"a":"apple","b":"ball","c":"car","d":"dog"}

del dictionary 

#print(dictionary)  # cannot print dictionary as dictionary is deleted

In [58]:
# clear() empties the dictionary

dictionary = {"a":"apple","b":"ball","c":"car","d":"dog"}

print(dictionary.clear())

None

In [59]:
dictionary = {"a":"apple","b":"ball","c":"car","d":"dog"}

dictionary.clear()
print(dictionary)

{}

In [60]:
# sets : it is a collection which is unordered and unindexed
# sets are written in curly brackets
# equivalent to sets in mathematics
# order of elements in a set is undefined
# you can add and delete the elements of a set
# you can iterate the elements of the set
# you can perform standard operations like union, intersection, difference etc
# set can be of any datatype and also can contain different datatypes

In [61]:
s = {"a","b","c","d","e"}
print(s)

{'e', 'b', 'd', 'a', 'c'}

In [62]:
s = {"a","b","c","d","e","a"} # sets are unordered and cannot have duplicates
print(s)

{'e', 'b', 'd', 'a', 'c'}

In [63]:
s = {"a","b","c","d","e"}
print(len(s))

5

In [64]:
# set() constructor

s = set(("apple","orange"))
print(s)

{'apple', 'orange'}

In [65]:
fruits = {"apple", "banana", "cherry"}  # Check if "apple" is present in the fruits set.
if "apple" in  fruits:
  print("Yes, apple is present!")

Yes, apple is present!

In [66]:
fruits = {"apple", "banana", "cherry"} # Use the add method to add "orange" to the fruits set.

fruits.add("orange")

print(fruits)

{'apple', 'banana', 'orange', 'cherry'}

In [67]:
fruits = {"apple", "banana", "cherry"}   # Use the correct method to add multiple items (more_fruits) to the fruits set.
more_fruits = ["orange", "mango", "grapes"]

fruits.update(more_fruits)

print(fruits)

{'grapes', 'orange', 'cherry', 'apple', 'mango', 'banana'}

In [68]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [69]:
# frozen sets - working with different operations
# it has the characteristics present in sets
# you cannot change the elements once it is assigned
# can be created by using the function frozenset()
# supports different operations: union(), difference(),symmetric difference, isdisjoint

In [70]:
# difference

A = frozenset({10, 20, 30})
B = frozenset({30, 40, 50})
print(A.difference(B))

frozenset({10, 20})

In [71]:
# intersection

A = frozenset({10, 20, 30})
B = frozenset({30, 40, 50})
print(A.intersection(B))

frozenset({30})

In [72]:
# union

A = frozenset({10, 20, 30})
B = frozenset({30, 40, 50})
print(A.union(B))

frozenset({50, 20, 40, 10, 30})

In [73]:
# symmetric_difference

A = frozenset({30, 40, 50})
B = frozenset({30, 40, 10})
print(A.symmetric_difference(B))

frozenset({10, 50})

In [74]:
# isdisjoint

A = frozenset({10, 20, 30})
B = frozenset({30, 40, 50})
print(A.isdisjoint(B))

A = frozenset({10, 20, 80})
B = frozenset({30, 40, 50})
print(A.isdisjoint(B))

False
True

In [75]:
# issubset

A = frozenset({30, 40})
B = frozenset({30, 40, 50})
print(A.issubset(B))

A = frozenset({30, 40, 80})
B = frozenset({30, 40, 50})
print(A.issubset(B))

True
False

In [76]:
# issuperset

A = frozenset({30, 40, 50})
B = frozenset({30, 40})
print(A.issuperset(B))

A = frozenset({30, 40, 50})
B = frozenset({30, 80})
print(A.issuperset(B))

True
False

In [77]:
# copy

A = frozenset({30, 40, 50})
B = A.copy()
print(B)

frozenset({40, 50, 30})

In [78]:
A = frozenset({1,2,3,4})
B = frozenset({3,4,5,6})

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.symmetric_difference(B))

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2})
frozenset({1, 2, 5, 6})

In [79]:
A = frozenset([1,2,3,4]) # ISDISJOINT
B = frozenset([3,4,5,6])
C = frozenset([5,6])

print(A.isdisjoint(B))
print(B.isdisjoint(A))
print(A.isdisjoint(C))

False
False
True

In [80]:
A = frozenset([1,2,3,4]) # subset
B = frozenset([3,4,5,6])
C = frozenset([5,6])

print(A.issubset(B))
print(B.issubset(A))
print(C.issubset(B))
print(C.issubset(A))

False
False
True
False

In [81]:
A = frozenset([1,2,3,4]) # superset
B = frozenset([3,4,5,6])
C = frozenset([5,6])

print(A.issuperset(B))
print(A.issuperset(C))
print(B.issuperset(A))
print(B.issuperset(C))

False
False
False
True

In [82]:
# membership operators:

listt = [1,2,3,4,5,6,7,8,9,10]

x = 5
c = 58
y = 9

if(x in listt):
    print("present")
else:
    print("absent")

if(c in listt):
    print("present")
else:
    print("Absent")

present
Absent

In [83]:
x = ["a","b","c","d"]
y = ["a","b","c","d"]
z = x
print(x is z)
print(x is y)
print(z is x)
print(y is z)
print(x == y)
print(x == z)

True
False
True
False
True
True

In [84]:
# decision making

a = 1
b = 2
c = 3
d = 4
e = 5
f = 6

if (a>3):
    print("a is greater")
else:
    print("a is smaller")
    
if (e == 5):
    print("equal")
else:
    print("not equal")
    
if (a > e):
    print("greater")
else:
    print("lesser")

a is smaller
equal
lesser

In [85]:
age = int(input("enter your age"))

if age >= 18:
    print("adult")
else:
    print("junior")

enter your age 1412

adult

In [86]:
# nested if

a = 1
b = 2
c = 3
d = 4
e = 5
f = 6

if a == 1:
    print("1")
elif a == 2:
    print("2")
elif a == 3:
    print("3")
else:
    print("nothing")

1

In [87]:
# even or not

a = 1
b = 2
c = 3
d = 4
e = 5
f = 6

if a % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [91]:
# Example 1 : Program to print the largest of the three numbers

x = float(input("1st number"))
y = float(input("2nd number"))
z = float(input("3rd number"))

if x > y and x > z:
    print("largest number is: ", x)
elif y > x and y > z:
    print("largest number is: ", y)
else:
    print("largest number is: ", z)

1st number 4545.24251
2nd number 45141541024204.1241560
3rd number 124651841.1491

largest number is:  45141541024204.125