In [22]:
#This is to print the first line
print("Hello, Edubridge")

Hello, Edubridge

In [2]:
print('Hello,Edubridge')

Hello,Edubridge

In [3]:
word='word'
print(word)

word

In [4]:
sentence="this is a sentence"
print(sentence)

this is a sentence

In [11]:
#This will print a paragraph
paragraph="""My name is Praisy.I am ,
the master Trainer in Edubridge.
I take PG in DA."""
print(paragraph)

My name is Praisy.I am ,
the master Trainer in Edubridge.
I take PG in DA.

In [15]:
#Creating variables
x=50 #type int
y='John'#type string
z=True
a=3.9
print(x)
print(y)
print(type(x))
print(type(y))
print(type(z))
print(type(a))

50
John
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [22]:
x='sally' #x is of type str
x=4
print(x)

4

In [ ]:
type()-get the datatype of the variable.

In [23]:
x="john"
print(x)

john

In [24]:
x='john'
print(x)

john

In [2]:
a='John'
print(a)
print(A)

John

NameError: name 'A' is not defined

In [3]:
a=b=c=1
print(a)
print(b)
print(c)

1
1
1

In [4]:
a,b,c='orange','mango','kiwi'
print(a)
print(b)
print(c)

orange
mango
kiwi

In [5]:
a,b,c=1,2,'Praisy'
print(a)
print(b)
print(c)

1
2
Praisy

In [6]:
a=3
b=a
c=a
print(a)
a='hello'
#b=a
#c=a
print(a)

3
hello

In [10]:
#python output variables
x='awsome'
print("Python is "+x)

Python is awsome

In [13]:
x='Praisy is '
y='a Master Trainer'
z=x+y
print(z)

Praisy is a Master Trainer

In [14]:
#memory allocation
a=3
b=a
c=a
#print(a)
a='string'
b=a
print(a)
print(b)
print(c)
#print(a)

string
string
3

In [24]:
b=" HELLO "
print(b[0])
#print(b[])
print(b[1:4])
print(b[6:])
print(b+" "+b)
print(b*2)
print(b[-4:-1])
print(b.lower())
print(b.upper())
print(b.strip())#Hello
print(b.replace('H','J'))

HEL

 HELLO   HELLO
 HELLO  HELLO
LLO
 hello
 HELLO
HELLO
 JELLO

In [18]:
#String concatenation
a='Dear'
b='Learners'
c=a+" "+b
print(c)

Dear Learners

In [20]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [37]:
str='Hi John '
print(str * 3)

Hi John Hi John Hi John

In [38]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'
# using +
print('str1 + str2 = ', str1 + str2)
# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [5]:
#create list
list=["apple","mango","orange","grapes"]
print(list)
print(len(list))
print(list[2])
print(list[:])
#print(list[])

['apple', 'mango', 'orange', 'grapes']
4
orange
['apple', 'mango', 'orange', 'grapes']

In [ ]:
#create three list with three datatypes and print the type of that lists.

In [9]:
#Negative indexing in list
#-starts from end
#-1 refers to the last item
list=["a","b","c","d","e"]
print(list[-2])
print(list[2])
print(list[-3])

d
c
c

In [12]:
#Range of index
#can specify a range of index by specifying where to start and where to end.
list=["a","b","c","d","e"]
print(list[2:])
print(list[:3])

['c', 'd', 'e']
['a', 'b', 'c']

In [6]:
#Check  if item exists- To determine if a specified item is present in a list we use 'in'keyword/operator
#eg: check if "engineer" is present in my designation list

l1=["doctor","engineer","teacher","nurse"]
if "engineer" in l1:
    print("Yes,'engineer' is in the l1 list")

Yes,'engineer' is in the l1 list

In [13]:
#Change list items-to change the value of a specific item, refer to another index number
#eg
fruits=["kiwi","apple","banana","grapes"]
fruits[1]="watermelon"
print(fruits)

['kiwi', 'watermelon', 'banana', 'grapes']

In [14]:
#Insert items-to insert a new item,without replacing any of the existing values ,we can use insert() method
#-insert() methods an item at the specified index
#eg: insert "watermelon" as the third item
fruits=["kiwi","apple","banana","grapes"]
fruits.insert(2,"watermelon")
print(fruits)

['kiwi', 'apple', 'watermelon', 'banana', 'grapes']

In [15]:
#Python-Add items(append)-to add an item to the end of the list,use append() method
#eg:
fruits=["kiwi","apple","banana","grapes"]
fruits.append("strawberry")
print(fruits)

['kiwi', 'apple', 'banana', 'grapes', 'strawberry']

In [16]:
#Python-Extend lists-to append elements from another list to the current list,we use extend() method
#eg:add the elements of the list2 to list 1
list1=["priya","rahul","girish"]
list2=["ayesha","poonam"]
list1.extend(list2)
print(list1)

['priya', 'rahul', 'girish', 'ayesha', 'poonam']

In [ ]:
#Python-Remove list items-remove specified item-The remove() method removes the specified item
#eg:
#Learners will create an example

In [17]:
#Remove specified index-the pop() method removes the specified index
#eg:
list1=["priya","rahul","girish"]
list1.pop(1)
print(list1)

['priya', 'girish']

In [18]:
#if you do not specify the index, the pop() method removes the last item
#eg:
list1=["priya","rahul","girish"]
list1.pop()
print(list1)

['priya', 'rahul']

In [22]:
#del-keyword -also removes the specified index
items=["milk","eggs","bread","fruits"]
del items[0]
print(items)

['eggs', 'bread', 'fruits']

In [25]:
#del-keyword can also delete the list completely
items=["milk","eggs","bread","fruits"]
del items
#print(items)

In [24]:
#clear the list-clear() method empties the list
#-list still remains but there will be no content
#eg:
items=["milk","eggs","bread","fruits"]
items.clear()
print(items)

[]

In [ ]:
#create two list and perform slicing ,concatenate and repeat it

## Python -Tuples

In [27]:
#Create tuples
tuple=("apple","grapes","kiwi")
print(tuple)

('apple', 'grapes', 'kiwi')

In [ ]:
#Tuple items- tuple items are ordered ,unchangeable, and allow duplicate values
#-Tuple items are indexed

#ordered- tuples are in a defined order 
#-It will not change

#Unchangeable-cannot add,remove,items after the tuple has been created.

In [28]:
#allow duplicates-Tuples are indexed
#-can have items with the same value
#eg:
tuple=("pen","pencil","book","book","pencil")
print(tuple)

('pen', 'pencil', 'book', 'book', 'pencil')

In [29]:
#Tuple length-to determine how many items a tuple has,use the len()function
#eg:
tuple=("pen","pencil","book","book","pencil")
print(len(tuple))

5

In [31]:
#Access the items in tuple using positions
data=("pen","pencil","book","book","pencil")
print(len(data))
print(data[3])
print(data[:4])
print(data+data+data)
print(data * 2)

5
book
('pen', 'pencil', 'book', 'book')
('pen', 'pencil', 'book', 'book', 'pencil', 'pen', 'pencil', 'book', 'book', 'pencil', 'pen', 'pencil', 'book', 'book', 'pencil')
('pen', 'pencil', 'book', 'book', 'pencil', 'pen', 'pencil', 'book', 'book', 'pencil')

In [34]:
#create tuple with one item- you have to add a comma after the item, otherwise the python interpreter will not recognize it as a
tuple
#eg:
thistuple=("apple",)
print(type(thistuple))

#not a tuple
thistuple=("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [36]:
#Tuple items-Datatypes -can be of any datatyp
#eg:
tup1=("joins","innerjoin","outerjoin")
tup2=(1,3,5,6)
tup3=(True,False)
print(tup1)
print(tup2)
print(tup3)

('joins', 'innerjoin', 'outerjoin')
(1, 3, 5, 6)
(True, False)

In [38]:
#Tuple can contain different datatypes
#eg:
tup=("abc",0.4,45,False,"male")
print(tup)

('abc', 0.4, 45, False, 'male')

In [2]:
#the tuple()constructor-possible to use the tuple() constructor to make a tuple
#eg:
thistuple=tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [1]:
#Python-update tuple-changing tuple values cannot happen
#-Tuples are immutable
#-But there are workarounds
#-You can convert the tuple into list, change the list and convert the list back to tuple.
#eg:
x=("biriyani","salad","kabab","dal","rice")
y=list(x)
y[1]="Chicken Mughalai"
x=tuple(y)
print(x)

('biriyani', 'Chicken Mughalai', 'kabab', 'dal', 'rice')

## Python -Dictionary

In [3]:
#Create a dictionary-dictionaries are used to store data values in key:value pairs
#-A dictionary is a collection which is ordered,changeable, and do not allow duplicate
#-Enclosed in ({}) and have keys and values
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000
     }
dict2={'name':'raju',
      'sub':'Physics',
      'design':'Trainer'
      }
print(dict1)
print(dict2)

{'name': 'Praisy', 'age': 24, 'salary': 20000}
{'name': 'raju', 'sub': 'Physics', 'design': 'Trainer'}

In [7]:
#Duplicates not allowed-Dictionaries cannot have two items with the same key
#eg:-duplicate values will overwrite existing values
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2020,
       'year':2022
      }
print(dict1)

{'name': 'Praisy', 'age': 24, 'salary': 20000, 'year': 2022}

In [8]:
#Dictionary length-len()function
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
print(dict1)
print(len(dict1))
#x=dict1['salary']
#print(x)

{'name': 'Praisy', 'age': 24, 'salary': 20000, 'year': 2020}
4
20000

#Dictionary -datatypes: -the values in dictionary items can be of any datatype
#eg: string,int,boolean,list

In [1]:
#update-() method
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
dict1.update({'salary':30000})
print(dict1)

{'name': 'Praisy', 'age': 24, 'salary': 30000, 'year': 2020}

In [2]:
#Removing Items:-pop() method removes the item with specified keyname
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
dict1.pop("name")
print(dict1)

{'age': 24, 'salary': 20000, 'year': 2020}

In [5]:
#popitem()method removes the last inserted item
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
      }
dict1.popitem()
print(dict1)

{'name': 'Praisy', 'age': 24}

In [6]:
#del keyword-removes the item with the specified keyname
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
del dict1["age"]
print(dict1)

{'name': 'Praisy', 'salary': 20000, 'year': 2020}

In [7]:
#the del keyword can aslo delete the complete dictionary
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
del dict1
print(dict1)

NameError: name 'dict1' is not defined

In [8]:
#clear()-empties the dictionary
#eg:
dict1={'name':'Praisy',
      'age':24,
      'salary':20000,
       'year':2019,
       'year':2020
      }
dict1.clear()
print(dict1)

{}

## Sets

In [ ]:
#-set is a collection which is unordered and unindexed
#-sets are written in curly brackets
#-Equivalent to sets in Mathematics
#-Order of elements in a set is undefined
#-you can add and delete the elements of a sets, you can iterate the elements of the set
#-you can perform standard operations(union,intersection,difference etc)

In [1]:
#creata a set
set={"a","b","c","d","e"}
print(set)
#note: Sets are unordered ,so you cannot be sure in which order the items will appear.

{'c', 'd', 'e', 'a', 'b'}

In [ ]:
#set items: are ordered,unchangeable and do not allow duplicate values
#unordered: *items in a set do not have a defined order
#*set items can appear in a different order everytime you use them and cannot be referred to by index or key
#Unchangeable:-set items are unchangeable ,meaning we cannot change the items after the set has been created.
#*once a set is cretaed ,you cannot change its items, but you can remove and add items.

In [2]:
#Duplicates are not allowed-sets cannot have two items with the same value
#eg:
set={"a","b","c","d","e","a","d"}
print(set)

{'c', 'd', 'e', 'a', 'b'}

In [3]:
#get the length -use len() method
#eg:
print(len(set))

5

In [5]:
#Set datatypes:set items can be of any datatype
#eg:
set1={"a","b","c","d","e","a","d"}
set2={1,4,5,6}
set3={True,True}
print(set1)
print(set2)
print(set3)

{'c', 'd', 'e', 'a', 'b'}
{1, 4, 5, 6}
{True}

In [2]:
#sets can contain different datatypes
#eg: 
set1={"abc",24,True,40,"female"}
print(set1)

{True, 'female', 40, 24, 'abc'}

In [2]:
#type()
#eg:
set1={"abc",24,True,40,"female"}
print(type(set1))

<class 'set'>

In [3]:
#set() constructor
thisset=set(("apple","banana","cherry"))#note the rounded brackets
print(thisset)

{'apple', 'banana', 'cherry'}

# Frozensets-working with different operations

In [ ]:
#Refer the word document for reference.

#Frozen set: Frozenset has the characteristics present in sets.
#-you cannot change the elements once it is assigned
#Frozenset can be created by using the function frozenset()
#this datatype supports different operations: union(),intersection,difference(),symmetric difference,isdisjoint(),issubset() etc

In [8]:
#Frozenset-difference()
A = frozenset({10, 20, 30})
B = frozenset({30, 40, 50})
print(A.difference(B))
print(B.difference(A))

frozenset({10, 20})
frozenset({40, 50})

In [15]:
#Frozenset operations:
A=frozenset({1,2,3,4})
B=frozenset({3,4,5,6})
#copying a frozenset
c=A.copy()
print(c)

frozenset({1, 2, 3, 4})

In [10]:
#union
print(A.union(B))

frozenset({1, 2, 3, 4, 5, 6})

In [11]:
#intersection
print(A.intersection(B))

frozenset({3, 4})

In [12]:
#difference
print(A.difference(B))

frozenset({1, 2})

In [13]:
#symmetric difference
print(A.symmetric_difference(B))

frozenset({1, 2, 5, 6})

In [16]:
#Example
A=frozenset([1,2,3,4])
B=frozenset([3,4,5,6])
C=frozenset([5,6])
#disjoint()method
print(A.isdisjoint(C))

True

In [17]:
#issubset()method
print(C.issubset(B))

True

In [18]:
#issuperset()method
print(B.issuperset(C))

True

# Python operators

In [24]:
#membership operators:
#Eg:Here we check whether the value of x=4 and value of y=8 is available in list or not, by using in and not in operators
x=10
y=5
list=[1,2,3,4,5]
if(x in list):
    print("Line 1-x is available in the given list")
else:
    print("Line 1-x is not available in the given list")
if(y not in list):
    print("Line 2-y is not available in the given list")
else:
    print("Line 2-y is avaibale in the given list")

Line 1-x is not available in the given list
Line 2-y is avaibale in the given list

In [25]:
#Identity operator
#eg:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)#prints true because z is the same object as x
print(x is y)#returns false because x is not the same as y,but they have the same content
print(x==y)#returns true x is equal to y

True
False
True

## Python Decision Making

In [26]:
#syntax: if statement
#if expression
    #statements
#eg:
a=15
if (a>10):
    print("a is greater than 10")

a is greater than 10

In [27]:
#syntax: if else statement
#if expression
    #statements
#else:
    #statements
#eg:
a=15
b=20
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [28]:
#Example:
age=int(input("Enter your age"))
if age >=18:
    print("Person is eligible to vote")
else:
    print("Sorry!, you will have to wait")

Enter your age39
Person is eligible to vote

In [31]:
#Nested if- syntax:
#if expression:
    #execute your code:
#elseif expression:
    #execute the code:
#else:
    #execute the code:
#eg:
a=15
b=15
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is not equal to b")

a is equal to b

In [33]:
#Check whether number is even 
num=int(input("enter a number"))
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

enter a number4
Number is even