In [1]:
#Create a variable named carname and assign the value Volvo to it and print it
carname ='volvo'
print(carname)

volvo

In [2]:
#Create a variable named x and assign the value 50 to it and print it.
x=50
print(50)

50

In [3]:
# Display the sum of 5 + 10, using two variables: x and y and print it
x=5
y=10
print(x+y)

15

In [4]:
# Create a variable called z, assign x + y to it, and display the result.
x=5
y=10
z=x+y
print(z)

15

In [5]:
#Remove the illegal characters in the variable name: 2my-first_name = "John"
my_first_name = "John"
print(my_first_name)

John

In [6]:
#the correct syntax to assign the same value to all three variables in one code line.
a=b=c=1
print(a)
print(b)
print(c)

1
1
1

In [7]:
#Create variable name ,age,salary and assign values to it with comments and print it.
name= 'Harry potter' #vikas name taken
age= 33  #age of person
salary= 300000  #salary of this person
print(name)
print(age)
print(salary)

Harry potter
33
300000

In [8]:
# Create a variable name “var” and assign different values in it and print its type.
var=40
print(var)
print(type(var))
var=3.9
print(var)
print(type(var))
var='how are you'
print(var)
print(type(var))
var=True
print(var)
print(type(var))

40
<class 'int'>
3.9
<class 'float'>
how are you
<class 'str'>
True
<class 'bool'>

In [11]:
total = 100 # An integer assignment
marks = 85.0 # A floating point
name = "Edubridge" # A string
print (total)
print(marks)
print (name)

100
85.0
Edubridge

In [12]:
# Assigning a value to x  
x = 6  
print(x)  
# deleting a variable.   
del x  
print(x)

6

NameError: name 'x' is not defined