## data cleaning
>data cleaning means fixing bad data inyour dataset. bad data  could be empty dataset, wrong data format,duplicates,empty cell

## handling missing values(Na or NAN) using python
>

In [1]:
#import the pandas library 
#using reindexing we are creating data frame
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5, 3),index=['a','c','e','f','h'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        One       Two     Three
a  0.283695  1.367830 -1.057755
b       NaN       NaN       NaN
c  0.091942  0.271002 -1.532848
d       NaN       NaN       NaN
e  0.407063 -0.628318 -0.930745
f  0.921777  0.019223  2.596933
g       NaN       NaN       NaN
h -1.739654  0.341404 -0.610352

In [2]:
#check for missing values
#to make detecting missing values easier pandas provide two functions: isnull() and notnull()
#example
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5, 3),index=['a','c','e','f','h'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['One'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: One, dtype: bool

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5, 3),index=['a','c','e','f','h'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['Two'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: Two, dtype: bool

In [ ]:
#Cleaning/filling missing data
>pandas provide various methods for cleaning the missing values
>the fillna can fill in "NA" values with non-null data
>there are four ways to clean the missing file 
  1. dropping missing values
  2. replacing missing values
  3. replacing with scalar values
  4. filling forward or backward

1. Drop missing values
    if you want to simply exclude the missing values then use the dropna() function along with the access argument
    by default,axis=0, that is,along row which means that if any value within the row NA then the whole row is excluded

In [5]:
#dropping missing values using dropna()
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5, 3),index=['a','c','e','f','h'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df.dropna())

        One       Two     Three
a -0.605865  1.396687 -1.450389
c  0.287168 -0.898479 -0.782294
e  1.055680  0.860933  0.210615
f  0.107723 -0.496248 -0.578501
h  1.486646 -0.015885  0.769428

In [ ]:
#Replacing or generatic values
>we have to replace a generic value with some specific value
>we can achieve this by the replace method
>this is similar to fillna() function

In [6]:
#example
import pandas as pd
import numpy as np
df=pd.DataFrame({'one':[10,20,30,40,50,2000],
                'two':[1000,0,30,40,50,60]})
print(df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [8]:
#Replacing NAN with a scalar value
#the following program shows how you can replace NAN with zeros
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print(df)
print("NAN replaced with zero")
print(df.fillna(0))

        one       two     three
a -0.206730  1.434772  0.186403
b       NaN       NaN       NaN
c -0.139858  1.569435 -1.758473
NAN replaced with zero
        one       two     three
a -0.206730  1.434772  0.186403
b  0.000000  0.000000  0.000000
c -0.139858  1.569435 -1.758473