## Data Type Conversion
> sometimes you may need to perform conversions between buit-in type
> To convert between type you simply use type_name as function.
> There are several built_in function to perform conversions from one data type to another
> these function retuns new object representing the converted values
> the process of Converting the value of one data type(int,str,float) to another data type is called type conversion.
> Python has two types of type conversion 1.implicit type conversion 2.Explicit type Conversion

## Implicit Type Conversion
In this method python converts data type into another data type automatically
In this process there is no user involvement

In [1]:
## Example of implicit type conversion
a=7
print(type (a)) # python automatically convert a into int

b=3.14
print(type (b)) # python automatically convert b into float

c=a+b
print(c)
print(type(c)) ## python automatically convert c into float addition

d=a*b
print(d)
print(type(d)) ## python automatically convert d into float multiplication

<class 'int'>
<class 'float'>
10.14
<class 'float'>
21.98
<class 'float'>

In [2]:
# example 2 implicit type conversion
num_int = 123   #int value
num_flo=1.23    #float value
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

## Explicit Type Conversion
> In this method python needs user involvement to convert variable data type to certain data type in order to perform required operation
> Mainly  type casting can be done following (int(),float(),str())
> Int()-  This function takes float or string as an argument and return int type object
>float()- This function takes int or String as an argumet and return float type object
>string()-This function takes float or int as an argument and return str type object

In [3]:
## type  casting int into float
#here we are casting int object to float object with float() function
a=5 #int variable
n=float(a) #type cast to float 
print(n)
print(type(n))

5.0
<class 'float'>

In [4]:
# Type casting float into integer
#here we are casting float object to int object with int() function
a=5.25 #Ffloat variable
n=int(a) #type cast to int
print(n)
print(type(n))

5
<class 'int'>

In [5]:
# Type casting int into string
#here we are casting int object to string object with str() function
a=5 #int variable
n=str(a) #type cast to str
print(n)
print(type(n))

5
<class 'str'>

In [6]:
# Type casting string into int
#here we are casting string object to int object with int() function
a="5" # str  variable
n=int(a) #type cast to int
print(n)
print(type(n))

5
<class 'int'>

In [7]:
# Type casting string into float
#here we are casting string object to float object with float() function
a="5" # str  variable
n=float(a) #type cast to int
print(n)
print(type(n))

5.0
<class 'float'>

In [8]:
# Type casting  float into str
#here we are casting float object to str object with str() function
a= 5.25 # float  variable
n=str(a) #type cast to str
print(n)
print(type(n))

5.25
<class 'str'>

In [9]:
# Example
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>