## Pandas DataFrame.append()

-this function is used to add the other dataframe to end of the given dataframe,returning new dataframe object

-new columns and new cells are inserted into original dataframe that are populated with NaN value (not number value)

#syntax =   DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

- parameter  

       1.other- DataFrame or series/Dict-like Object or list of these.It refers to the data to be appended
       
       2.ignore_index- if it is true it doesnt use index labels
       
       3.verify_integrity- if it is true it returns value error on creating an index with duplicates
       
       4.sort-It sort the columns if columns of the cell are not aligned. We pass sort=True explicitly for silence the warning and sort.We pass sort=False explicitly for silence the warning is not sort.

In [4]:
##Example 
import pandas as pd

#Create first dataframe using dictionary

data=pd.DataFrame({'name':['manoj','sushant','reshma'],'age':[24,25,21]})
#data

#create second dataframe using dictionary

data1=pd.DataFrame({'salary':[25000,240000,29000],'designation':['Assistant',"executive",'manager']})
#data1

#append data1 to data    
data.append(data1,ignore_index=True)

      name   age    salary designation
0    manoj  24.0       NaN         NaN
1  sushant  25.0       NaN         NaN
2   reshma  21.0       NaN         NaN
3      NaN   NaN   25000.0   Assistant
4      NaN   NaN  240000.0   executive
5      NaN   NaN   29000.0     manager

## DataFrame.describe()

- This method is used for calculating some statistical data like percentile,mean ,standard deviation of the series or dataframe

-it analyzes both numeric and object series and also dataframe columns sets of next datatype

#syntax :   DataFrame.describe(percentiles=None, include=None, exclude=None)

       - parameter
       
        1.percentile- it is an optional parameter.its default value is  [.25,.50,.75] which returns 25th,50th,75th percentile 
        th
        2.include- it is an optional parameter
        
        3.exclude- it is an optional parameter

In [5]:
data.describe()

             age
count   3.000000
mean   23.333333
std     2.081666
min    21.000000
25%    22.500000
50%    24.000000
75%    24.500000
max    25.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes