## Basics

In [1]:
#BAsics of Concatination
v="Hello Edubridge"
print(v[0])  #indexing
#print(v[])
print(v[1:4]) #slicing
print(v+v)  #concetanation

H
ell
Hello EdubridgeHello Edubridge

## Negative Indexing

In [2]:
v="Hello Edubridge"
print(v[-4:-1])  #indexing Negative
print(v.strip())

idg
Hello Edubridge

## Modifying String

In [3]:
v=" Edubridge "
print(v.lower()) 
print(v.upper()) 
print(v.replace('u','o'))
print(v.strip())

 edubridge
 EDUBRIDGE
 Edobridge
Edubridge

## concatenation with int

In [4]:
age= 36
txt= "my name is i am {}"
print(txt.format(age))

my name is i am 36

In [5]:
quantity=3
itemno=500
price= 58.6
myorder="i want {} piece of item {} for {} dollars"
print(myorder.format(quantity,itemno,price))

i want 3 piece of item 500 for 58.6 dollars

## Create two strings and do the slicing, conactenate, repetition.

In [6]:
str1="hello"
str2="world"
print(str1[2:])  #slicing
print(str2[0:3])
print(str1+str2)  #conactenate
print(str1*2)  #repitation
print(str2*3)

llo
wor
helloworld
hellohello
worldworldworld

## 1. Use the len method to print the length of the string.A=’Data Analytics’

In [8]:
String="Data Analytics"
x=len(String)
print(x)

14

## 2.	Get the first character of the string txt=’Data Analytics’

In [9]:
txt="data analytics"
print(txt[:-13])

d

## 3.	Get the characters from index 2 to index 4 of txt=’Data Analytics’

In [10]:
txt="data analytics"
print(txt[2:5])

ta

## 4.	Replace the character F  with a J for ‘Functions’

In [11]:
txt="Functions"
print(txt.replace('F','J'))

Junctions

## 5.	Write a Python program to create two strings s1 and s2. Assign in s1 as ‘Python’ and in s2 as ‘Strings. Print the character from 2nd index to 5th index of s1.Print the characters from 2nd to end.Concatenate both s1 and s2. Repeat s2 three times.

In [12]:
str1='Python'
str2='Strings'
print(str1[2:5])
print(str2[2:])  
print(str1+ " "+str2)
print(str2*3)

tho
rings
Python Strings
StringsStringsStrings

## Quotes

In [ ]:
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

my_string = """Hello, welcome to the world of Python"""
print(my_string)

##  Accessing string characters in Python

In [ ]:
str = 'programiz'
print('str = ', str)
print('str[0] = ', str[0]) #first charectr

## Python String Operations

In [ ]:
str1 = 'Hello'
str2 ='World!'
print('str1 + str2 = ', str1 + str2) # + operator
print('str1 * 3 =', str1 * 3)

In [ ]:
name = "Devansh"   
age = 20  
marks = 80.50     
print(name) 
print(age)   
print(marks)

In [ ]:
name = "A"   
Name = "B"   
naMe = "C"    
NAME = "D"    
n_a_m_e = "E"   
_name = "F"   
name_ = "G"   
_name_ = "H"   
na56me = "I"       
print(name,Name,naMe,NAME,n_a_m_e, _name,name_, _name_,na56me)