At end of the module you will able to understand
__1.the various libraries in Python 
__2. various operation using pandas and numpy 
__3. Data Cleaning operation
__4. data processing 
__5.Data Wrangling/Munging(data cleaning) 
__6.Data visualizing

## Python Libraries

following are the few important libraries which is used for scientific computation and analysis
__1 Pandas
          Pandas are used for structure data operations and manipulations.
          it is extensively used in data scienties communities

__2.Numpy
          stands for numerical python.one of the most powerful feature is n-dimensional arreys.This library also contains basic linear algebra functions, fouriers transforms, advance random number capabilities and tools for integration with high/low level languages.

__3.Matplotlib 
           1.it is used for vast varieties of graphs starting from histograms to line plot to heat plot. 
           2.you can use pylab feature in ipython notebook(inline)

__4.SciPy
        Stands for scientific python. it is build on numpy.it is one of the most useful libraries for variety of high level science and engineering modules, discrete Fourier transform,Linear Algebra,Sparse matrices,optimisation. 
     
__5.scikit
        build on numpy,sciPy and matplotlib,thislibrary contains lot of efficient tool for machine learning and statistical modeling including classification,regression, clustering etc 
        
__Additional Libraries you Might need :
       Os for Operating system and file operation
       networkX and igraph for data manipulation
       Regular Expression for finding patterns in text data
       BeautifulSoup for Scrappig the web. it will extract information from just single webpage

## 1.Pandas

__1.pandas is one of the most useful data analysis library in python

__2.it is open source-python library used for high performance data manipulation and data analysis using its powerful data structure

__3.python with pandas is used in variety of academic and commercial domains including finance,statistics,web analytic and many more

__4.using pandas we can accomplish  five typical tasks for processing and analysis of data (load,organize,manipulate,model and analyse the data)

__5.Two Key  data structure are "series and dataframes(df)"

__1. Series
   one-Dimentional array-like structure with homogeneous data
 
 # for  example-- 
 
 Collection of integers like 10,20,30,42,41,......
__Key points
 
 1.Homogeneous data
 2.size immutable(doesnt change)
 3. values of data mutable (changable)

__2.DataFrames (df) 
     Two-dimentional arrays with heterogeneous data
     
 # for Example
 
   name,age,salary,rating in table format(rows and column format)
   
__Key Point

1. Heterogeneous data
2.size mutable(changable)
3.values of data mutable(changable)

## Pandas Series example

In [8]:
#create simple pandas series from a list
import pandas as pd
a=[1,2,3]
my_var=pd.Series(a) #series function call
print(my_var)  #varriable with print
print(my_var[2])   # index calling variable with print
#my_var # calling variable without print
my_var[1]  # index calling variable without print

0    1
1    2
2    3
dtype: int64
3

2

## Create Labels
with the index argument you can name your own labels

In [11]:
a=[1,2,3]
my_var=pd.Series(a,index=["x","y","z"]) #creating indexes with label series function 
print(my_var)  #varriable with print
print(my_var["z"])

x    1
y    2
z    3
dtype: int64
3

## Key/Value Objects as series

You can also use a key/value as object like dictionary when creating Series

In [15]:
calories={"day1":420,
          "day2":320,
         "day3":390}
my_var1=pd.Series(calories)
my_var1
#my_var1[2]

day1    420
day2    320
day3    390
dtype: int64

## Data Frames
it is in table format,it is whole table format

In [29]:
# Creat a data frame from 2 series
data={"calories":[420,320,390],
     "Duration":[40,30,20]}
my_var2= pd.DataFrame(data)
my_var2

   calories  Duration
0       420        40
1       320        30
2       390        20

In [31]:
data1={"name":["chandu","dipali","ayesha"],
       "age":[25,25,24],
     "salary":[10000,20000,30000]}
df= pd.DataFrame(data1)
df

     name  age  salary
0  chandu   25   10000
1  dipali   25   20000
2  ayesha   24   30000

In [38]:
data1={"name":["chandu","dipali","ayesha"],
       "age":[25,25,24],
     "salary":[10000,20000,30000]}
df= pd.DataFrame(data1,index=["rank 1","rank 2","rank 3"])
df

          name  age  salary
rank 1  chandu   25   10000
rank 2  dipali   25   20000
rank 3  ayesha   24   30000