# DATA PROCESSING:
    
        > Using python we can export and import CSV data, JSON data, NoSQL data, relational databases.
        > We will study the process of CSV file.
        
            1. Input as CSV file
                > The CSV file is a text file in which the values in the column are seperated by commas.
                > You can create a file using windows notepad with the some datas and save it using (.CSV) extension.

# Reading the CSV file:

        > 
        > The function can read the files from the os by using the proper path to the file.

In [2]:
# Reading a CSV file:

import pandas as pd
data=pd.read_csv("Desktop/input.csv")
data

   id   name  salary  start_date        dept
0   1   Rick   623.3  2012-01-01          IT
1   2    Dan   515.2  2013-09-23  Operations
2   3  Tusar   611.0  2014-11-15          IT

# Reading specific rows:

        > The read_csv of the pandas library can also be used to read some rows for a given column.
        > We slice the result from read_csv function using the code shown below for first 2 rows for the column named 
          "salary"

In [3]:
# We slice the result from read_csv function using the code shown below for first 2 rows for the column named "salary"
# Slice the results for first 2 rows

import pandas as pd
data=pd.read_csv("Desktop/input.csv")
data 
print(data[0:2]["salary"])

0    623.3
1    515.2
Name: salary, dtype: float64

# Reading specific columns and rows:

        > The read_csv of the pandas librarycan also be used to read some specific columns and specific rows.
        > We use the multi-axes indexing method called ".loc()" for dis purpose.

In [6]:
# uses multi-axes indexing function

print(data.loc[[0,2],["salary","name"]])

   salary   name
0   623.3   Rick
2   611.0  Tusar

# Viewing the data:

        > One of the most used method for getting a quick overview of the dataframe head()
        > The head() method will return the headers and specified number of rows starting from the top.

In [3]:
import pandas as pd
data=pd.read_csv("Desktop/input.csv")

print(data.head())

   id   name  salary  start_date        dept
0   1   Rick   623.3  2012-01-01          IT
1   2    Dan   515.2  2013-09-23  Operations
2   3  Tusar   611.0  2014-11-15          IT

# Tail():

        > The tail() is the method for viewing the last rows of the dataframe.
        > The tail() method returns the specified number of  rows starting from the bottom.

In [4]:
print(data.tail())

   id   name  salary  start_date        dept
0   1   Rick   623.3  2012-01-01          IT
1   2    Dan   515.2  2013-09-23  Operations
2   3  Tusar   611.0  2014-11-15          IT

# Info() about the dataset:

        > The dataframe has the object called info() that will gives you more information about the dataset.

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   name        3 non-null      object
 2   salary      3 non-null      float64
 3   start_date  3 non-null      object
 4   dept        3 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 248.0+ bytes
None

# Max rows:

     > To check the max rows you can use ("pd.options.display.max_rows")

# Discovering duplicates/Removing duplicates:

        > Duplicate rows are the rows that have been registerd more than one time.
        > To discover duplicates we can use "duplicated()" method.
        > The duplicated method returns the booleans values for each row.
        > Returns TRUE for every row that is the duplicate otherwise FALSE.

In [8]:
print(data.duplicated())

0    False
1    False
2    False
dtype: bool

In [10]:
print(data.duplicated().count())

3