Exercise 1: Calculate the multiplication and sum of two numbers

In [1]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

Print characters from a string that are present at an even index number

In [2]:
# accept input string from a user
word = input('Enter word ')
print("Original String:", word)

# using list slicing
# convert string to list
# pick only even index chars
x = list(word)
for i in x[0::2]:
    print(i)

Enter word  dipali

Original String: dipali
d
p
l

Check if the first and last number of a list is the same

In [3]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

Display numbers divisible by 5 from a list

In [5]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

Return the count of a given substring from a string

In [6]:
str_x = "Emma is good developer. Emma is a writer"
count = str_x.count("Emma")
print(count)

2

Create a new list from a two list using the following condition

In [8]:
def merge_list(list1, list2):
    result_list = []
    for num in list1:# iterate first list
        if num % 2 != 0: # check if current number is odd
            result_list.append(num)
    for num in list2: # iterate second list
        if num % 2 == 0:# check if current number is even
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

show following pattern

In [11]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Print multiplication table form 1 to 10

In [12]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Print downward Half-Pyramid Pattern with Star (asterisk)

In [13]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*