Delete a list of keys from a dictionary

In [7]:
sample_dict = {"name":"kelly", "age":25,"salary":8000, "city":"New Yourk"}
del(sample_dict["name"])
del(sample_dict["salary"])
print(sample_dict)

{'age': 25, 'city': 'New Yourk'}

Check if a value exists in a dictionary

In [16]:
sample_dict = {'a':100, 'b':200, 'c':300}
"b" in sample_dict

True

Rename key of a dictionary

In [5]:
sample_dict = {"name":"kelly", "age":25,"salary":8000, "city":"New Yourk"}
new_key="location"
old_key="city"
sample_dict[new_key] = sample_dict.pop(old_key)
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New Yourk'}

Get the key of a minimum value from the following dictionary

In [11]:
sample_dict = {"physics":82,"math":65,"history":75}
x= min(82,65,75)
print(x)

65

Change value of a key in a nested dictionary

In [15]:
sample_dict = {'emp1':{'name':'jhon','salary':7500},
               'emp2':{'name':'emma','salary':8000},
               'emp3':{'name':'brad','salary':500}
              }
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'brad', 'salary': 8500}}