1.	Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [1]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

2.	Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [3]:
def mul(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total
print(mul((8, 2, 3, -1, 7)))

-336

3.	Write a program to create function func1() to accept a variable length of arguments and print their value.

In [4]:
def func1(*args):#3argument
    for i in args:
        print(i)
func1(20,40,60)

20
40
60

In [5]:
def func1(*args):#2argument
    for i in args:
        print(i)
func1(80,100)

80
100

4.Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [6]:
def calculation(a,b):
    return a+b, a-b
res = calculation(40,10)
print(res)

(50, 30)

6.Assign a different name to function and call it through the new name

In [8]:
def display_student(name,age):
    print(name,age)
display_student("emma",26)
show_student = display_student
show_student("Dipali",26)

emma 26
Dipali 26


5.Write a program to create a function show_employee() using the following conditions.
•	It should accept the employee’s name and salary and display both.
•	If the salary is missing in the function call then assign default value 9000 to salary

In [9]:
def show_employee(name,salary):
    return(name,salary)
    salary=9000
print(show_employee("ben",12000))
print(show_employee("jessa",545))

('ben', 12000)
('jessa', 545)

7.PROBLEM STATEMENTS

Problem 1

In [10]:
def Area_of_Triangle (height,base):
    Area = (base*height)/2 #Area
    print(Area)
Area_of_Triangle(10,15)

75.0

Problem 2

In [11]:
def Compute(num1,num2):
    sum=num1 + num2
    diff=num1 - num2
    product=num1 * num2
    quotient=num1 / num2
    return sum, diff, product, quotient

n1=float(input("Enter a number: "))
n2=float(input("Enter a second number: "))
s,d,p,q = Compute(n1,n2)
print(f"sum of {n1} and {n2} is {s}")
print(f"Difference of {n1} and {n2} is {d}")
print(f"Product of {n1} and {n2} is {p}")
print(f"Quotient of {n1} and {n2} is {q}")

Enter a number:  5
Enter a second number:  12

sum of 5.0 and 12.0 is 17.0
Difference of 5.0 and 12.0 is -7.0
Product of 5.0 and 12.0 is 60.0
Quotient of 5.0 and 12.0 is 0.4166666666666667