1.Program to add Two numbers

In [1]:
x = input("Type a number: ")
y = input("Type another number: ")

sum = int(x) + int(y)

print("The sum is: ", sum)

Type a number:  20
Type another number:  42

The sum is:  62

2.write a Python program to display the monthly calendar

In [5]:
import calendar  
# Enter the month and year  
yy = int(input("Enter year: "))  
mm = int(input("Enter month: "))  
  
# display the calendar  
print(calendar.month(yy,mm))

Enter year:  2022
Enter month:  1

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

3.Write a Python Program to Print Odd Numbers from 1 to N using While Loop and For Loop with an example.

In [8]:
maximum = int(input(" Please Enter the Maximum Value : "))

number = 1

while number <= maximum:
    if(number % 2 != 0):
        print("{0}".format(number))
    number = number + 1

 Please Enter the Maximum Value :  20

1
3
5
7
9
11
13
15
17
19

In [1]:
maximum = int(input(" Please Enter any Maximum Value : "))

for number in range(1, maximum + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

 Please Enter any Maximum Value :  20

1
3
5
7
9
11
13
15
17
19

4.Write a Python Program to Print Even Numbers from 1 to N using While Loop and For Loop with an example.

In [6]:
maximum = int(input(" Please Enter the Maximum Value : "))

number = 1

while number <= maximum:
    if(number % 2 == 0):
        print("{0}".format(number))
    number = number + 1

 Please Enter the Maximum Value :  20

2
4
6
8
10
12
14
16
18
20

In [7]:
maximum = int(input(" Please Enter the Maximum Value : "))

for number in range(1, maximum+1):
    if(number % 2 == 0):
        print("{0}".format(number))

 Please Enter the Maximum Value :  20

2
4
6
8
10
12
14
16
18
20

5.Write a Python program to find the largest of Two Numbers using Elif Statement and Nested If statement with an example.

In [2]:
a = int(input(" Enter the First Value a: "))
b = int(input(" Enter the Second Value b: "))

if(a == b):
    print("a and b are Equal")
else:
    largest = a if a > b else b
    print("{0} is the Largest Value".format(largest))

 Please Enter the First Value a:  55
 Please Enter the Second Value b:  83

83 is the Largest Value

In [3]:
a = int(input(" Enter the First Value a: "))
b = int(input(" Enter the Second Value b: "))

if(a > b):
    print("{0} a is Greater than b {1}".format(a, b))
elif(b > a):
    print("{0} b is Greater than a {1}".format(b, a))
else:
    print("a and b are Equal")

 Enter the First Value a:  55
 Enter the Second Value b:  83

83 b is Greater than a 55

6. Python Program to find Cube of a Number

In [5]:
number = float(input(" Please Enter any number : "))
cube = number ** 3
print("The Cube of a Given Number {0}  = {1}".format(number, cube))

 Please Enter any number :  5.0

The Cube of a Given Number 5.0  = 125.0

7.Python Program to Calculate Square of a Number

In [6]:
number = float(input(" Please Enter any number : "))
square = number ** 2
print("The Square of a Given Number {0}  = {1}".format(number, square))

 Please Enter any number :  5

The Square of a Given Number 5.0  = 25.0

8.Python Program to Print Multiplication Table using For loop

In [7]:
num = int(input(" Please Enter any Positive Integer lessthan 10 : "))

print(" Multiplication Table ")

for i in range(num, 10):
    for j in range(1, 11):
        print('{0}  *  {1}  =  {2}'.format(i, j, i*j))
    print('==============')

 Please Enter any Positive Integer lessthan 10 :  9

 Multiplication Table
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
==============

9.Python Program to Concatenate Strings

In [12]:
a = "Hello"
b = "Dipali"
c = a + " " + b
print(c)

Hello Dipali

10.Python Program to Reverse String

In [18]:
txt = "Hello Dipali"[::-1]
print(txt)

ilapiD olleH

11.Python Program to Add Key-Value Pair to a Dictionary

In [14]:
CountryCodeDict = {"India": 91, "UK" : 44 , "USA" : 1}
print(CountryCodeDict)
CountryCodeDict["Spain"]= 34
print(CountryCodeDict)

{'India': 91, 'UK': 44, 'USA': 1}
{'India': 91, 'UK': 44, 'USA': 1, 'Spain': 34}