1.Iterating string using for loop

In [1]:
str='python'
for i in str:
    print (str)

python
python
python
python
python
python

2. program to print the table of given number

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
n=5
for i in list:
    c=n*i
    print(c)

5
10
15
20
25
30
35
40
45
50

3. program to the sum of given list

In [3]:
list=[10,23,30,43,65,12]
sum=0
for i in list:
    sum=sum+i
print("the sum is",sum)

the sum is 183

4.program to print the number in sequence

In [4]:
for i in range(10):
    print(i,end=' ')  #end function

0 1 2 3 4 5 6 7 8 9

5.program to print table of given number

In [5]:
n=int(input("number: "))
for i in range(1,11):
    c=i*n
    #print(c)
    print(n,"*",i,"=",c)

number: 61
61 * 1 = 61
61 * 2 = 122
61 * 3 = 183
61 * 4 = 244
61 * 5 = 305
61 * 6 = 366
61 * 7 = 427
61 * 8 = 488
61 * 9 = 549
61 * 10 = 610

Range and Len Function finding list

In [6]:
list=['peter','david','himansh','suresh']
for i in range(len(list)):  #len
    print("hello",list[i]) #list

hello peter
hello david
hello himansh
hello suresh

while loop

In [7]:
count=0
while count<=9:
    print('number:',count)
    count+=1  
print("bye")

number: 0
number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
bye

In [8]:
Fruits=['apple','banana','orange','mango']
for index in range(len(Fruits)):  #len
    print("current Fruit",Fruits[index]) #list

current Fruit apple
current Fruit banana
current Fruit orange
current Fruit mango

 iterating over range 0 to n-1

In [9]:
n=4
for i in range(0,n):
    print(i)

0
1
2
3

In [10]:
color_list=["Red","blue","greeen","black"]
for c in color_list:
    print(c)

Red
blue
greeen
black

In [11]:
for a in range(2,7):
    print(a)

2
3
4
5
6

 Showing Different Type of item

In [12]:
datalist=[1452,11.23,1+2j,True,'w3source',(0,-1),[5,12],{'class':"v","section":'a'}]
for item in datalist:
    print("type of",item,"is-->", type(item))

type of 1452 is--> <class 'int'>
type of 11.23 is--> <class 'float'>
type of (1+2j) is--> <class 'complex'>
type of True is--> <class 'bool'>
type of w3source is--> <class 'str'>
type of (0, -1) is--> <class 'tuple'>
type of [5, 12] is--> <class 'list'>
type of {'class': 'v', 'section': 'a'} is--> <class 'dict'>

is operator

In [13]:
x=["India"]
y=["india"]
z=x
print(x is y)
print(x is z)
print(y is not z)

False
True
True