1.	Print the second item in the ‘grocery’ list and print it

In [13]:
grocery=['tea','sugar','oil','soya']
print(grocery)
print(grocery[1])

['tea', 'sugar', 'oil', 'soya']
sugar

2.	Change the value from “tea" to "coffee", in the ‘items’ list.

In [9]:
grocery[0]="coffee"
print(grocery)

['coffee', 'sugar', 'oil', 'soya']

3.	Use the append method to add "orange" to the fruits list.

In [10]:
fruit=['kiwi','banana','grapes','watermelon']
fruit.append('orange')
print(fruit)

['kiwi', 'banana', 'grapes', 'watermelon', 'orange']

4.	Use the insert method to add "lemon" as the second item in the fruits list.

In [30]:
fruit=['kiwi','banana','grapes','watermelon']
fruit.insert(1,'lemon')
print(fruit)

['kiwi', 'lemon', 'banana', 'grapes', 'watermelon']

5.	Use the remove method to remove "eggs" from the ‘grocery’ list.

In [14]:
grocery=['tea','sugar','oil','eggs','soya']
grocery.pop(3)
print(grocery)

['tea', 'sugar', 'oil', 'soya']

In [17]:
grocery=['tea','sugar','oil','eggs','soya']
del grocery[3]
print(grocery)

['tea', 'sugar', 'oil', 'soya']

6.	Use negative indexing to print the last item in the list.

In [18]:
list=['kiwi','banana','grapes','watermelon']
print(list[-1])

watermelon

7.	Use a range of indexes to print the third, fourth, and fifth item in the list.

In [21]:
list=['kiwi','banana','grapes','watermelon','oil','eggs','soya']
print(list[3:6])

['watermelon', 'oil', 'eggs']

8.	Use the correct syntax to print the number of items in the list.

In [22]:
list=['kiwi','banana','grapes','watermelon','oil','eggs','soya']
len(list)

7

9.	Create two list, do the slicing ,concatenating and repetition of the lists.

In [27]:
L1=['kiwi','banana','grapes','watermelon']
L2=['dipali','abhi','raju']
print(L1+L2) #concatenating
print(3*L2) #Repetations
print(L1[1:]) # slicing
print(L1[1:3]) # slicing

['kiwi', 'banana', 'grapes', 'watermelon', 'dipali', 'abhi', 'raju']
['dipali', 'abhi', 'raju', 'dipali', 'abhi', 'raju', 'dipali', 'abhi', 'raju']
['banana', 'grapes', 'watermelon']
['banana', 'grapes']

10.	Check if "Rayan" is present in the name list:

In [25]:
L2=['dipali','abhi','raju']
'Rayan' in L2

False