1.	Use the len method to print the length of the string.A=’Data Analytics’

In [1]:
A='Data Analytics'
len(A)

14

2.	Get the first character of the string txt=’Data Analytics’

In [2]:
txt='Data Analytics'
print(txt[0:5])
print(txt[:-9])

Data
Data

3.	Get the characters from index 2 to index 4 of txt=’Data Analytics’

In [3]:
txt='Data Analytics'
print(txt[2:5])

ta

4.	Replace the characterF  with a J for ‘Functions’

In [4]:
a='functions'
print(a.replace('f','j'))

junctions

5.	Write a Python program to create two strings s1 and s2. Assign in s1 as ‘Python’ and in s2 as ‘Strings. Print the character from 2nd index to 5th index of s1.Print the characters from 2nd to end.Concatenate both s1 and s2. Repeat s2 three times.

In [5]:
s1='python'
s2='string'
print(s1[2:6]) # 2 to 5 idex of s1
print(s1[2:]) # print char from 2 to end s1
print(s2[2:]) # print char from 2 to end s2
print(s1+s2) #Concatenate
s3=s1+s2 #Concatenate
print(s3)
print(s2*3)#Repetations

thon
thon
ring
pythonstring
pythonstring
stringstringstring