1.Create a variable named carname and assign the value Volvo to it and print it

In [1]:
carname='volvo'
print(carname)

volvo

2.Create a variable named x and assign the value 50 to it and print it.

In [2]:
x=50
print(x)

50

3.Display the sum of 5 + 10, using two variables: x and y and print it

In [3]:
x=5
y=10
z=x+y
print(z)

15

4.Create a variable called z, assign x + y to it, and display the result.

In [4]:
z=(x+y)
print(z)

15

5.Remove the illegal characters in the variable name:2my-first_name = "John"

In [8]:
my_first_name="John"
print(my_frist_name)

SyntaxError: cannot assign to literal (Temp/ipykernel_9184/1176633023.py, line 1)

6.Insert the correct syntax to assign the same value to all three variables in one code line.

In [9]:
h=i=j=2
print(h)
print(i)
print(j)

2
2
2

7.Create variable name ,age,salary and assign values to it with comments and print it.

In [11]:
name='dipali'#name of person
age=20 #age of person
salary=25000  #salary of person
print(name)
print(age)
print(salary)

dipali
20
25000

8. Create a variable name “var” and assign different values in it and print its type.

In [17]:
var=(20,55.5,'Abhi',True)
print(type[20])

type[20]