1.Data Processing

In [2]:
#import dataset
import pandas as pd

In [17]:
data = pd.read_csv("Desktop\Edu bridge\Datas\super.csv")
data

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Art,7.2800
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,907.1520
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,911.4240
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200

In [4]:
##duplicating purpose
new_duplicated=data[data.duplicated('customer_id')]
new_dupliacted=data[data.duplicated('customer_id')]

print('Duplicate values in customer id:') 
print(new_duplicated)

Duplicate values in customer id:
    index        order_id customer_id  order_date       customer_name  \
1       1  CA-2016-152156    CG-12520   11/8/2016         Claire Gute
4       4  US-2015-108966    SO-20335  10/11/2015      Sean O'Donnell
6       6  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
7       7  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
8       8  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
9       9  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
10     10  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
11     11  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
15     15  US-2015-118983    HP-14815  11/22/2015       Harold Pawlan
19     19  CA-2014-143336    ZD-21925   8/27/2014  Zuschuss Donatelli
20     20  CA-2014-143336    ZD-21925   8/27/2014  Zuschuss Donatelli

         state         category sub_category     sales
1     Kentucky        Furniture       Chairs   731.940
4      Florida  Office Supplies      Storage    22.368
6   California  Office Supplies          Art     7.280
7   California       Technology       Phones   907.152
8   California  Office Supplies      Binders    18.504
9   California  Office Supplies   Appliances   114.900
10  California        Furniture       Tables  1706.184
11  California       Technology       Phones   911.424
15       Texas  Office Supplies      Binders     2.544
19  California       Technology       Phones   213.480
20  California  Office Supplies      Binders    22.720

In [18]:
data1 = pd.read_csv("Desktop\Edu bridge\Datas\products.csv")
data1

,index,Product_name,Product_price,Product_rating
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4
22,22,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3
23,23,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3

In [6]:
data1.head()

   index                            Product_name Product_price  Product_rating
0      0     REDMI 9i Sport (Coral Green, 64 GB)        ₹8,799             4.4
1      1   realme Narzo 50A (Oxygen Blue, 64 GB)       ₹11,499             4.4
2      2         realme 8i (Space Black, 128 GB)       ₹15,999             4.4
3      3          realme 8i (Space Black, 64 GB)       ₹13,999             4.5
4      4  realme Narzo 50A (Oxygen Green, 64 GB)       ₹11,499             4.4

In [7]:
data.describe()

           index        sales
count  21.000000    21.000000
mean   10.000000   341.132929
std     6.204837   464.917033
min     0.000000     2.544000
25%     5.000000    18.504000
50%    10.000000    68.810000
75%    15.000000   665.880000
max    20.000000  1706.184000

In [8]:
data1.describe()

           index  Product_rating
count  24.000000       24.000000
mean   11.500000        4.425000
std     7.071068        0.084699
min     0.000000        4.300000
25%     5.750000        4.400000
50%    11.500000        4.400000
75%    17.250000        4.500000
max    23.000000        4.600000

In [9]:
pd.merge(data,data1, on='index') #merging

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Product_name,Product_price,Product_rating
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775,"realme 8i (Space Black, 64 GB)","₹13,999",4.5
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Art,7.2800,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,907.1520,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,911.4240,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4

In [10]:
data.append(data1,ignore_index=False)

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Product_name,Product_price,Product_rating
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600,NaN,NaN,NaN
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400,NaN,NaN,NaN
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200,NaN,NaN,NaN
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775,NaN,NaN,NaN
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680,NaN,NaN,NaN
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600,NaN,NaN,NaN
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Art,7.2800,NaN,NaN,NaN
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,907.1520,NaN,NaN,NaN
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040,NaN,NaN,NaN
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000,NaN,NaN,NaN
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840,NaN,NaN,NaN
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,911.4240,NaN,NaN,NaN
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520,NaN,NaN,NaN
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760,NaN,NaN,NaN
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100,NaN,NaN,NaN
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440,NaN,NaN,NaN
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800,NaN,NaN,NaN
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000,NaN,NaN,NaN
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600,NaN,NaN,NaN
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800,NaN,NaN,NaN
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200,NaN,NaN,NaN
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8i (Space Black, 64 GB)","₹13,999",4.5
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6
11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3

In [11]:
#Merging of data without using merge

print(data1,data)

    index                            Product_name Product_price  \
0       0     REDMI 9i Sport (Coral Green, 64 GB)        ₹8,799
1       1   realme Narzo 50A (Oxygen Blue, 64 GB)       ₹11,499
2       2         realme 8i (Space Black, 128 GB)       ₹15,999
3       3          realme 8i (Space Black, 64 GB)       ₹13,999
4       4  realme Narzo 50A (Oxygen Green, 64 GB)       ₹11,499
5       5  realme Narzo 50A (Oxygen Blue, 128 GB)       ₹12,499
6       6   REDMI 9i Sport (Metallic Blue, 64 GB)        ₹8,799
7       7    REDMI 9i Sport (Carbon Black, 64 GB)        ₹8,799
8       8            APPLE iPhone SE (Red, 64 GB)       ₹27,999
9       9           POCO C31 (Shadow Gray, 64 GB)        ₹8,999
10     10        realme C21Y (Cross Black, 32 GB)        ₹9,499
11     11        realme C21Y (Cross Black, 64 GB)       ₹10,499
12     12         realme C21Y (Cross Blue, 64 GB)       ₹10,499
13     13            POCO C31 (Royal Blue, 32 GB)        ₹7,999
14     14         realme C21Y (Cross Blue, 32 GB)        ₹9,499
15     15     APPLE iPhone 12 Mini (Black, 64 GB)       ₹38,999
16     16         MOTOROLA g31 (Baby Blue, 64 GB)       ₹12,999
17     17          APPLE iPhone SE (White, 64 GB)       ₹27,999
18     18    MOTOROLA g31 (Meteorite Grey, 64 GB)       ₹12,999
19     19          realme 8 (Cyber Black, 128 GB)       ₹16,999
20     20         realme 8 (Cyber Silver, 128 GB)       ₹17,999
21     21      realme C11 2021 (Cool Grey, 32 GB)        ₹7,499
22     22      realme C11 2021 (Cool Grey, 64 GB)        ₹8,999
23     23      realme C11 2021 (Cool Blue, 64 GB)        ₹8,999

    Product_rating
0              4.4
1              4.4
2              4.4
3              4.5
4              4.4
5              4.4
6              4.4
7              4.4
8              4.5
9              4.4
10             4.6
11             4.5
12             4.5
13             4.4
14             4.6
15             4.5
16             4.3
17             4.5
18             4.3
19             4.4
20             4.4
21             4.4
22             4.3
23             4.3       index        order_id customer_id  order_date       customer_name  \
0       0  CA-2016-152156    CG-12520   11/8/2016         Claire Gute
1       1  CA-2016-152156    CG-12520   11/8/2016         Claire Gute
2       2  CA-2016-138688    DV-13045   6/12/2016     Darrin Van Huff
3       3  US-2015-108966    SO-20335  10/11/2015      Sean O'Donnell
4       4  US-2015-108966    SO-20335  10/11/2015      Sean O'Donnell
5       5  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
6       6  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
7       7  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
8       8  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
9       9  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
10     10  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
11     11  CA-2014-115812    BH-11710    6/9/2014     Brosina Hoffman
12     12  CA-2017-114412    AA-10480   4/15/2017        Andrew Allen
13     13  CA-2016-161389    IM-15070   12/5/2016        Irene Maddox
14     14  US-2015-118983    HP-14815  11/22/2015       Harold Pawlan
15     15  US-2015-118983    HP-14815  11/22/2015       Harold Pawlan
16     16  CA-2014-105893    PK-19075  11/11/2014           Pete Kriz
17     17  CA-2014-167164    AG-10270   5/13/2014     Alejandro Grove
18     18  CA-2014-143336    ZD-21925   8/27/2014  Zuschuss Donatelli
19     19  CA-2014-143336    ZD-21925   8/27/2014  Zuschuss Donatelli
20     20  CA-2014-143336    ZD-21925   8/27/2014  Zuschuss Donatelli

             state         category sub_category      sales
0         Kentucky        Furniture    Bookcases   261.9600
1         Kentucky        Furniture       Chairs   731.9400
2       California  Office Supplies       Labels    14.6200
3          Florida        Furniture       Tables   957.5775
4          Florida  Office Supplies      Storage    22.3680
5       California        Furniture  Furnishings    48.8600
6       California  Office Supplies          Art     7.2800
7       California       Technology       Phones   907.1520
8       California  Office Supplies      Binders    18.5040
9       California  Office Supplies   Appliances   114.9000
10      California        Furniture       Tables  1706.1840
11      California       Technology       Phones   911.4240
12  North Carolina  Office Supplies        Paper    15.5520
13      Washington  Office Supplies      Binders   407.9760
14           Texas  Office Supplies   Appliances    68.8100
15           Texas  Office Supplies      Binders     2.5440
16       Wisconsin  Office Supplies      Storage   665.8800
17            Utah  Office Supplies      Storage    55.5000
18      California  Office Supplies          Art     8.5600
19      California       Technology       Phones   213.4800
20      California  Office Supplies      Binders    22.7200

In [59]:
data

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Art,7.2800
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,907.1520
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,911.4240
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200

In [12]:
data['category']=data['category'].map({'Furniture':2,'Office Supplies':1}).astype(float) #reshape the data by categories into number
data

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,2.0,Bookcases,261.9600
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,2.0,Chairs,731.9400
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,1.0,Labels,14.6200
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,2.0,Tables,957.5775
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,1.0,Storage,22.3680
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,2.0,Furnishings,48.8600
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,1.0,Art,7.2800
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,NaN,Phones,907.1520
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,1.0,Binders,18.5040
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,1.0,Appliances,114.9000
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,2.0,Tables,1706.1840
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,NaN,Phones,911.4240
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,1.0,Paper,15.5520
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,1.0,Binders,407.9760
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,1.0,Appliances,68.8100
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,1.0,Binders,2.5440
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,1.0,Storage,665.8800
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,1.0,Storage,55.5000
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,1.0,Art,8.5600
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,NaN,Phones,213.4800
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,1.0,Binders,22.7200

In [13]:
information = data1 # exsiting data modified
data=pd.DataFrame(information)
data

,index,Product_name,Product_price,Product_rating
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
3,3,"realme 8i (Space Black, 64 GB)","₹13,999",4.5
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
8,8,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
10,10,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6
11,11,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5
12,12,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
14,14,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6
15,15,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5
16,16,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3
17,17,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5
18,18,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4
22,22,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3
23,23,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3

In [19]:
pd.concat([data,data1]) #concaneate

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales,Product_name,Product_price,Product_rating
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600,NaN,NaN,NaN
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400,NaN,NaN,NaN
2,2,CA-2016-138688,DV-13045,6/12/2016,Darrin Van Huff,California,Office Supplies,Labels,14.6200,NaN,NaN,NaN
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775,NaN,NaN,NaN
4,4,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Office Supplies,Storage,22.3680,NaN,NaN,NaN
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600,NaN,NaN,NaN
6,6,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Art,7.2800,NaN,NaN,NaN
7,7,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,907.1520,NaN,NaN,NaN
8,8,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Binders,18.5040,NaN,NaN,NaN
9,9,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Office Supplies,Appliances,114.9000,NaN,NaN,NaN
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840,NaN,NaN,NaN
11,11,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Technology,Phones,911.4240,NaN,NaN,NaN
12,12,CA-2017-114412,AA-10480,4/15/2017,Andrew Allen,North Carolina,Office Supplies,Paper,15.5520,NaN,NaN,NaN
13,13,CA-2016-161389,IM-15070,12/5/2016,Irene Maddox,Washington,Office Supplies,Binders,407.9760,NaN,NaN,NaN
14,14,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Appliances,68.8100,NaN,NaN,NaN
15,15,US-2015-118983,HP-14815,11/22/2015,Harold Pawlan,Texas,Office Supplies,Binders,2.5440,NaN,NaN,NaN
16,16,CA-2014-105893,PK-19075,11/11/2014,Pete Kriz,Wisconsin,Office Supplies,Storage,665.8800,NaN,NaN,NaN
17,17,CA-2014-167164,AG-10270,5/13/2014,Alejandro Grove,Utah,Office Supplies,Storage,55.5000,NaN,NaN,NaN
18,18,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Art,8.5600,NaN,NaN,NaN
19,19,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Technology,Phones,213.4800,NaN,NaN,NaN
20,20,CA-2014-143336,ZD-21925,8/27/2014,Zuschuss Donatelli,California,Office Supplies,Binders,22.7200,NaN,NaN,NaN
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8i (Space Black, 64 GB)","₹13,999",4.5
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone SE (Red, 64 GB)","₹27,999",4.5
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Black, 32 GB)","₹9,499",4.6
11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Black, 64 GB)","₹10,499",4.5
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Blue, 64 GB)","₹10,499",4.5
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C21Y (Cross Blue, 32 GB)","₹9,499",4.6
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone 12 Mini (Black, 64 GB)","₹38,999",4.5
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOTOROLA g31 (Baby Blue, 64 GB)","₹12,999",4.3
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"APPLE iPhone SE (White, 64 GB)","₹27,999",4.5
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOTOROLA g31 (Meteorite Grey, 64 GB)","₹12,999",4.3
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Grey, 64 GB)","₹8,999",4.3
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"realme C11 2021 (Cool Blue, 64 GB)","₹8,999",4.3

In [20]:
grouped=data1.groupby('Product_rating')
grouped.get_group(4.4) # grouping

,index,Product_name,Product_price,Product_rating
0,0,"REDMI 9i Sport (Coral Green, 64 GB)","₹8,799",4.4
1,1,"realme Narzo 50A (Oxygen Blue, 64 GB)","₹11,499",4.4
2,2,"realme 8i (Space Black, 128 GB)","₹15,999",4.4
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)","₹11,499",4.4
5,5,"realme Narzo 50A (Oxygen Blue, 128 GB)","₹12,499",4.4
6,6,"REDMI 9i Sport (Metallic Blue, 64 GB)","₹8,799",4.4
7,7,"REDMI 9i Sport (Carbon Black, 64 GB)","₹8,799",4.4
9,9,"POCO C31 (Shadow Gray, 64 GB)","₹8,999",4.4
13,13,"POCO C31 (Royal Blue, 32 GB)","₹7,999",4.4
19,19,"realme 8 (Cyber Black, 128 GB)","₹16,999",4.4
20,20,"realme 8 (Cyber Silver, 128 GB)","₹17,999",4.4
21,21,"realme C11 2021 (Cool Grey, 32 GB)","₹7,499",4.4

In [21]:
grouped=data.groupby('category')
grouped.get_group('Furniture') # grouping

,index,order_id,customer_id,order_date,customer_name,state,category,sub_category,sales
0,0,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Bookcases,261.9600
1,1,CA-2016-152156,CG-12520,11/8/2016,Claire Gute,Kentucky,Furniture,Chairs,731.9400
3,3,US-2015-108966,SO-20335,10/11/2015,Sean O'Donnell,Florida,Furniture,Tables,957.5775
5,5,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Furnishings,48.8600
10,10,CA-2014-115812,BH-11710,6/9/2014,Brosina Hoffman,California,Furniture,Tables,1706.1840