# Pandas
- Pandas is a python library used for working with data sets.
- it has functions for analyzing ,cleaning ,exploring and manipulating data.
- the name 'Pandas' has a reference to both "Panel data" and "Python data analysis".
- it is suitable for different kinds of data such as:
    1. tabular data with heterogeneously -typed columns.
    2. ordered and unordered time series data
    3. matrix data
    4. unlabelled data
    5. statistical data sets

# Core components of Pandas
- the primary two components of pandas are the series and data frame.
- A series is essentially a column,and  a data frame is a multidimensional table made up of a collection of series.

# Why use pandas?
- Pandas allow us to analyze big data and make conclusions based on statistical theories.
- It can clean messy data sets and make them readable and relevant.

In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
#check pandas version
print(pd.__version__)

1.1.3

In [3]:
# create series from numpy array
a=np.array([1,2,3,4,5,6,7])
v=pd.Series(a)
v

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [4]:
#data type of series
v.dtype

dtype('int32')

In [5]:
v.nbytes

28

In [6]:
v.shape

(7,)

In [7]:
v.ndim

1

In [8]:
len(v)

7

In [9]:
v.count()

7

In [10]:
v.size

7

In [11]:
#create series from list
s=pd.Series([1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [12]:
#modifying index 
v.index=['a','b','c','d','e','f','g']
v

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int32

In [13]:
#create series  using random and range function
v1=np.random.random(12)
v1

array([0.97219773, 0.67427298, 0.87805257, 0.48110805, 0.73285931,
       0.13829388, 0.2091136 , 0.19602945, 0.22064395, 0.82233792,
       0.19848871, 0.61048574])

In [14]:
v2=np.arange(2,14)
v2

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [15]:
s1=pd.Series(v1,v2)
s1

2     0.972198
3     0.674273
4     0.878053
5     0.481108
6     0.732859
7     0.138294
8     0.209114
9     0.196029
10    0.220644
11    0.822338
12    0.198489
13    0.610486
dtype: float64

In [16]:
#create series from dictionary
d={'a':10,'b':20,'c':30,'d':40}
s1=pd.Series(d)
s1

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
pd.Series(34,index=[10,11,12,13])

10    34
11    34
12    34
13    34
dtype: int64

# slicing of series

In [ ]:
#return all elements of the series

In [ ]:
#first three element of the series

In [ ]:
#last element of the series

In [ ]:
#return all elements of the series except last two elements

In [ ]:
#return all elements of the series except last element

In [ ]:
#return last two elements of the series

# Append series

In [18]:
s2=s1.copy()
s2

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
d={'e':50,'f':60,'g':70,'h':80}
s3=pd.Series(d)
s3

e    50
f    60
g    70
h    80
dtype: int64

In [20]:
s4=s2.append(s3)
s4

a    10
b    20
c    30
d    40
e    50
f    60
g    70
h    80
dtype: int64

# operation on series

In [21]:
s1

a    10
b    20
c    30
d    40
dtype: int64

In [22]:
s2

a    10
b    20
c    30
d    40
dtype: int64

In [23]:
s1.add(s2)

a    20
b    40
c    60
d    80
dtype: int64

In [24]:
x=np.array([10,20,30,40])
y=np.array([1,2,3,4])
s1=pd.Series(x)
s2=pd.Series(y)
s1,s2

(0    10
 1    20
 2    30
 3    40
 dtype: int32,
 0    1
 1    2
 2    3
 3    4
 dtype: int32)

In [25]:
#addition of two series
s1.add(s2)

0    11
1    22
2    33
3    44
dtype: int32

In [26]:
#subtraction of two series
s1.sub(s2)

0     9
1    18
2    27
3    36
dtype: int32

In [27]:
#subtraction of two series
s1.subtract(s2)

0     9
1    18
2    27
3    36
dtype: int32

In [28]:
#multiplication of two series
s1.mul(s2)

0     10
1     40
2     90
3    160
dtype: int32

In [29]:
#multiplication of two series
s1.multiply(s2)

0     10
1     40
2     90
3    160
dtype: int32

In [30]:
#division of two series
s1.divide(s2)

0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64

In [31]:
#division of two series
s1.div(s2)

0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64

In [32]:
#maximum number in a series
s1.max()

40

In [33]:
#minimum number in a series
s1.min()

10

In [34]:
#average 
s1.mean()

25.0

In [35]:
#median
s1.median()

25.0

In [36]:
#standard deviation
s1.std()

12.909944487358056

In [37]:
#increment all numbers in a series by 8
s1.add(8)

0    18
1    28
2    38
3    48
dtype: int32

# series comparison

In [38]:
s1

0    10
1    20
2    30
3    40
dtype: int32

In [39]:
s2

0    1
1    2
2    3
3    4
dtype: int32

In [40]:
s1.equals(s2)

False

In [41]:
s5=pd.Series([1,2,1,3,3,4,2,5])
s5

0    1
1    2
2    1
3    3
4    3
5    4
6    2
7    5
dtype: int64

In [42]:
s5.value_counts()

3    2
2    2
1    2
5    1
4    1
dtype: int64

# Dataframe

In [43]:
#create dataframe from list
l=['divya','karan','jyoti','shika']
d=pd.DataFrame(l)
d

       0
0  divya
1  karan
2  jyoti
3  shika

In [44]:
#add column in the data frame
marks=[67,54,89,66]
d[1]=marks
d

       0   1
0  divya  67
1  karan  54
2  jyoti  89
3  shika  66

In [45]:
#give name to columns
d.columns=['Name','Marks']
d

    Name  Marks
0  divya     67
1  karan     54
2  jyoti     89
3  shika     66

In [46]:
#create dataframe from dictionary
d1=pd.DataFrame({'ID':[11,22,33,44],"name":['divya','karan','jyoti','kirti']})
d1

   ID   name
0  11  divya
1  22  karan
2  33  jyoti
3  44  kirti

In [47]:
#creating dataframe from random values
r=np.random.random((7,7))
r

array([[0.45988322, 0.33880436, 0.21839816, 0.27379553, 0.19423174,
        0.08823682, 0.20463014],
       [0.5162185 , 0.23433227, 0.12298772, 0.14399961, 0.66093471,
        0.12833016, 0.76744055],
       [0.31979199, 0.97139153, 0.67397589, 0.46002148, 0.03466571,
        0.5072107 , 0.88987344],
       [0.3909003 , 0.09282576, 0.01762441, 0.70437053, 0.6426382 ,
        0.17664079, 0.6864692 ],
       [0.88194161, 0.43135545, 0.69599632, 0.79429584, 0.83884636,
        0.07458711, 0.85735181],
       [0.37244041, 0.91959549, 0.25654392, 0.70225251, 0.99844141,
        0.17535955, 0.76905341],
       [0.37590871, 0.9243656 , 0.32479285, 0.06004323, 0.51219797,
        0.46546599, 0.81625822]])

In [48]:
d2=pd.DataFrame(r)
d2

          0         1         2         3         4         5         6
0  0.459883  0.338804  0.218398  0.273796  0.194232  0.088237  0.204630
1  0.516219  0.234332  0.122988  0.144000  0.660935  0.128330  0.767441
2  0.319792  0.971392  0.673976  0.460021  0.034666  0.507211  0.889873
3  0.390900  0.092826  0.017624  0.704371  0.642638  0.176641  0.686469
4  0.881942  0.431355  0.695996  0.794296  0.838846  0.074587  0.857352
5  0.372440  0.919595  0.256544  0.702253  0.998441  0.175360  0.769053
6  0.375909  0.924366  0.324793  0.060043  0.512198  0.465466  0.816258

In [49]:
date1=pd.date_range('today',periods=7)
date1

DatetimeIndex(['2021-05-18 14:02:10.086723', '2021-05-19 14:02:10.086723',
               '2021-05-20 14:02:10.086723', '2021-05-21 14:02:10.086723',
               '2021-05-22 14:02:10.086723', '2021-05-23 14:02:10.086723',
               '2021-05-24 14:02:10.086723'],
              dtype='datetime64[ns]', freq='D')

In [50]:
date2=pd.date_range(start='2021-01-20',end='2021-02-05')
date2

DatetimeIndex(['2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23',
               '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27',
               '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31',
               '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05'],
              dtype='datetime64[ns]', freq='D')

In [51]:
date3=pd.date_range(start='2021-01-25',periods=7)
date3

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [52]:
d2

          0         1         2         3         4         5         6
0  0.459883  0.338804  0.218398  0.273796  0.194232  0.088237  0.204630
1  0.516219  0.234332  0.122988  0.144000  0.660935  0.128330  0.767441
2  0.319792  0.971392  0.673976  0.460021  0.034666  0.507211  0.889873
3  0.390900  0.092826  0.017624  0.704371  0.642638  0.176641  0.686469
4  0.881942  0.431355  0.695996  0.794296  0.838846  0.074587  0.857352
5  0.372440  0.919595  0.256544  0.702253  0.998441  0.175360  0.769053
6  0.375909  0.924366  0.324793  0.060043  0.512198  0.465466  0.816258

In [53]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.459883,0.338804,0.218398,0.273796,0.194232,0.088237,0.204630
2021-01-26,0.516219,0.234332,0.122988,0.144000,0.660935,0.128330,0.767441
2021-01-27,0.319792,0.971392,0.673976,0.460021,0.034666,0.507211,0.889873
2021-01-28,0.390900,0.092826,0.017624,0.704371,0.642638,0.176641,0.686469
2021-01-29,0.881942,0.431355,0.695996,0.794296,0.838846,0.074587,0.857352
2021-01-30,0.372440,0.919595,0.256544,0.702253,0.998441,0.175360,0.769053
2021-01-31,0.375909,0.924366,0.324793,0.060043,0.512198,0.465466,0.816258

In [54]:
#changing column names
d2.columns=['A','B','C','D','E','F',"G"]
d2

,A,B,C,D,E,F,G
2021-01-25,0.459883,0.338804,0.218398,0.273796,0.194232,0.088237,0.204630
2021-01-26,0.516219,0.234332,0.122988,0.144000,0.660935,0.128330,0.767441
2021-01-27,0.319792,0.971392,0.673976,0.460021,0.034666,0.507211,0.889873
2021-01-28,0.390900,0.092826,0.017624,0.704371,0.642638,0.176641,0.686469
2021-01-29,0.881942,0.431355,0.695996,0.794296,0.838846,0.074587,0.857352
2021-01-30,0.372440,0.919595,0.256544,0.702253,0.998441,0.175360,0.769053
2021-01-31,0.375909,0.924366,0.324793,0.060043,0.512198,0.465466,0.816258

In [55]:
#list index
d2.index

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [56]:
#list column names
d2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [57]:
#datatype of each column
d2.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
G    float64
dtype: object

In [58]:
#sort dataframe by column 'A ' in ascending order
d2.sort_values(by='A')

,A,B,C,D,E,F,G
2021-01-27,0.319792,0.971392,0.673976,0.460021,0.034666,0.507211,0.889873
2021-01-30,0.372440,0.919595,0.256544,0.702253,0.998441,0.175360,0.769053
2021-01-31,0.375909,0.924366,0.324793,0.060043,0.512198,0.465466,0.816258
2021-01-28,0.390900,0.092826,0.017624,0.704371,0.642638,0.176641,0.686469
2021-01-25,0.459883,0.338804,0.218398,0.273796,0.194232,0.088237,0.204630
2021-01-26,0.516219,0.234332,0.122988,0.144000,0.660935,0.128330,0.767441
2021-01-29,0.881942,0.431355,0.695996,0.794296,0.838846,0.074587,0.857352

In [59]:
#sort dataframe by column 'A ' in descending order
d2.sort_values(by='A',ascending=False)

,A,B,C,D,E,F,G
2021-01-29,0.881942,0.431355,0.695996,0.794296,0.838846,0.074587,0.857352
2021-01-26,0.516219,0.234332,0.122988,0.144000,0.660935,0.128330,0.767441
2021-01-25,0.459883,0.338804,0.218398,0.273796,0.194232,0.088237,0.204630
2021-01-28,0.390900,0.092826,0.017624,0.704371,0.642638,0.176641,0.686469
2021-01-31,0.375909,0.924366,0.324793,0.060043,0.512198,0.465466,0.816258
2021-01-30,0.372440,0.919595,0.256544,0.702253,0.998441,0.175360,0.769053
2021-01-27,0.319792,0.971392,0.673976,0.460021,0.034666,0.507211,0.889873

# Delete column in data frame

In [60]:
del d2['C']

In [61]:
d2

                   A         B         D         E         F         G
2021-01-25  0.459883  0.338804  0.273796  0.194232  0.088237  0.204630
2021-01-26  0.516219  0.234332  0.144000  0.660935  0.128330  0.767441
2021-01-27  0.319792  0.971392  0.460021  0.034666  0.507211  0.889873
2021-01-28  0.390900  0.092826  0.704371  0.642638  0.176641  0.686469
2021-01-29  0.881942  0.431355  0.794296  0.838846  0.074587  0.857352
2021-01-30  0.372440  0.919595  0.702253  0.998441  0.175360  0.769053
2021-01-31  0.375909  0.924366  0.060043  0.512198  0.465466  0.816258

In [62]:
d2.pop('A')

2021-01-25    0.459883
2021-01-26    0.516219
2021-01-27    0.319792
2021-01-28    0.390900
2021-01-29    0.881942
2021-01-30    0.372440
2021-01-31    0.375909
Freq: D, Name: A, dtype: float64

In [63]:
d2

                   B         D         E         F         G
2021-01-25  0.338804  0.273796  0.194232  0.088237  0.204630
2021-01-26  0.234332  0.144000  0.660935  0.128330  0.767441
2021-01-27  0.971392  0.460021  0.034666  0.507211  0.889873
2021-01-28  0.092826  0.704371  0.642638  0.176641  0.686469
2021-01-29  0.431355  0.794296  0.838846  0.074587  0.857352
2021-01-30  0.919595  0.702253  0.998441  0.175360  0.769053
2021-01-31  0.924366  0.060043  0.512198  0.465466  0.816258

In [64]:
d2.drop(['B'],axis=1)

                   D         E         F         G
2021-01-25  0.273796  0.194232  0.088237  0.204630
2021-01-26  0.144000  0.660935  0.128330  0.767441
2021-01-27  0.460021  0.034666  0.507211  0.889873
2021-01-28  0.704371  0.642638  0.176641  0.686469
2021-01-29  0.794296  0.838846  0.074587  0.857352
2021-01-30  0.702253  0.998441  0.175360  0.769053
2021-01-31  0.060043  0.512198  0.465466  0.816258

# delete rows in dataframe

In [65]:
r=np.random.random((10,10))
r

array([[0.82424566, 0.14607109, 0.15453919, 0.19878185, 0.23249661,
        0.11787939, 0.15292361, 0.04551954, 0.50344654, 0.1671549 ],
       [0.26052501, 0.72727608, 0.57331708, 0.83208883, 0.19279157,
        0.72426887, 0.46297892, 0.09543612, 0.27423734, 0.72915362],
       [0.35082473, 0.16624542, 0.86817339, 0.64207955, 0.0631423 ,
        0.8922827 , 0.27007771, 0.82814928, 0.22888996, 0.80275456],
       [0.26480986, 0.06721936, 0.88068605, 0.29422254, 0.66499477,
        0.02604546, 0.60020021, 0.73007009, 0.00796627, 0.55773716],
       [0.321976  , 0.6522124 , 0.93161369, 0.40664951, 0.9859776 ,
        0.39611908, 0.22372751, 0.77199824, 0.89491788, 0.95967001],
       [0.06326791, 0.82414874, 0.39546484, 0.58063726, 0.89429084,
        0.82618274, 0.06943461, 0.88075544, 0.30651638, 0.818732  ],
       [0.30310151, 0.06472492, 0.636197  , 0.84908283, 0.83307751,
        0.23857013, 0.40768873, 0.38757925, 0.52949846, 0.24994796],
       [0.53971   , 0.82095259, 0.94896146, 0.01401141, 0.28727912,
        0.64147402, 0.21133042, 0.12554473, 0.29283947, 0.57902195],
       [0.68102334, 0.08652829, 0.62725626, 0.51523063, 0.02456144,
        0.87386181, 0.8534954 , 0.5306418 , 0.98804333, 0.08896161],
       [0.32132842, 0.42011809, 0.55455858, 0.88239461, 0.3285328 ,
        0.26788366, 0.11115435, 0.95342338, 0.61788642, 0.87169282]])

In [66]:
d2=pd.DataFrame(r)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.824246,0.146071,0.154539,0.198782,0.232497,0.117879,0.152924,0.045520,0.503447,0.167155
1,0.260525,0.727276,0.573317,0.832089,0.192792,0.724269,0.462979,0.095436,0.274237,0.729154
2,0.350825,0.166245,0.868173,0.642080,0.063142,0.892283,0.270078,0.828149,0.228890,0.802755
3,0.264810,0.067219,0.880686,0.294223,0.664995,0.026045,0.600200,0.730070,0.007966,0.557737
4,0.321976,0.652212,0.931614,0.406650,0.985978,0.396119,0.223728,0.771998,0.894918,0.959670
5,0.063268,0.824149,0.395465,0.580637,0.894291,0.826183,0.069435,0.880755,0.306516,0.818732
6,0.303102,0.064725,0.636197,0.849083,0.833078,0.238570,0.407689,0.387579,0.529498,0.249948
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [67]:
d2=d2.drop([4,5],axis=0)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.824246,0.146071,0.154539,0.198782,0.232497,0.117879,0.152924,0.045520,0.503447,0.167155
1,0.260525,0.727276,0.573317,0.832089,0.192792,0.724269,0.462979,0.095436,0.274237,0.729154
2,0.350825,0.166245,0.868173,0.642080,0.063142,0.892283,0.270078,0.828149,0.228890,0.802755
3,0.264810,0.067219,0.880686,0.294223,0.664995,0.026045,0.600200,0.730070,0.007966,0.557737
6,0.303102,0.064725,0.636197,0.849083,0.833078,0.238570,0.407689,0.387579,0.529498,0.249948
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [68]:
d2=d2.drop([3],axis=0)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.824246,0.146071,0.154539,0.198782,0.232497,0.117879,0.152924,0.045520,0.503447,0.167155
1,0.260525,0.727276,0.573317,0.832089,0.192792,0.724269,0.462979,0.095436,0.274237,0.729154
2,0.350825,0.166245,0.868173,0.642080,0.063142,0.892283,0.270078,0.828149,0.228890,0.802755
6,0.303102,0.064725,0.636197,0.849083,0.833078,0.238570,0.407689,0.387579,0.529498,0.249948
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [69]:
d2.drop(d2.index[2],inplace=True)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.824246,0.146071,0.154539,0.198782,0.232497,0.117879,0.152924,0.045520,0.503447,0.167155
1,0.260525,0.727276,0.573317,0.832089,0.192792,0.724269,0.462979,0.095436,0.274237,0.729154
6,0.303102,0.064725,0.636197,0.849083,0.833078,0.238570,0.407689,0.387579,0.529498,0.249948
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [74]:
d2.drop(d2.index[1],inplace=True)
d2

,0,1,2,3,4,5,6,7,8,9
0,0.824246,0.146071,0.154539,0.198782,0.232497,0.117879,0.152924,0.045520,0.503447,0.167155
6,0.303102,0.064725,0.636197,0.849083,0.833078,0.238570,0.407689,0.387579,0.529498,0.249948
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [75]:
#delete first two rows
d2=d2.iloc[2:,]
d2

,0,1,2,3,4,5,6,7,8,9
7,0.539710,0.820953,0.948961,0.014011,0.287279,0.641474,0.211330,0.125545,0.292839,0.579022
8,0.681023,0.086528,0.627256,0.515231,0.024561,0.873862,0.853495,0.530642,0.988043,0.088962
9,0.321328,0.420118,0.554559,0.882395,0.328533,0.267884,0.111154,0.953423,0.617886,0.871693

In [76]:
#delete last two rows
d2=d2.iloc[:-2,]
d2

,0,1,2,3,4,5,6,7,8,9
7,0.53971,0.820953,0.948961,0.014011,0.287279,0.641474,0.21133,0.125545,0.292839,0.579022

# Data selection

In [77]:
d1=pd.DataFrame({'ID':[1,2,3,4],"name":['divya','karan','jyoti','kirti']})
d1

   ID   name
0   1  divya
1   2  karan
2   3  jyoti
3   4  kirti

In [78]:
d1.index=[1,2,3,4]
d1

   ID   name
1   1  divya
2   2  karan
3   3  jyoti
4   4  kirti

In [79]:
#data selection using row label
d1.loc[3]

ID          3
name    jyoti
Name: 3, dtype: object

In [80]:
#data selection using position(integer index based)
d1.iloc[1]

ID          2
name    karan
Name: 2, dtype: object

In [81]:
d1.loc[1:2]

   ID   name
1   1  divya
2   2  karan

In [82]:
d1.iloc[1:2]

   ID   name
2   2  karan

In [83]:
d1.loc[d1.ID>2]

   ID   name
3   3  jyoti
4   4  kirti

# set value

In [3]:
date3=pd.date_range(start='2021-01-25',periods=7)
date3
r=np.random.random((7,7))
r
d2=pd.DataFrame(r)
d2

          0         1         2         3         4         5         6
0  0.566416  0.166861  0.297047  0.921063  0.239963  0.837217  0.030350
1  0.580461  0.835640  0.997314  0.857705  0.836288  0.135377  0.307863
2  0.009246  0.540716  0.918060  0.621360  0.180304  0.509460  0.992327
3  0.477894  0.716285  0.784014  0.079025  0.878258  0.068715  0.625434
4  0.530046  0.613213  0.392253  0.807790  0.709655  0.542631  0.373644
5  0.255070  0.170884  0.505359  0.357064  0.362848  0.447980  0.943366
6  0.769560  0.425551  0.859313  0.621424  0.223867  0.820559  0.075064

In [4]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.566416,0.166861,0.297047,0.921063,0.239963,0.837217,0.030350
2021-01-26,0.580461,0.835640,0.997314,0.857705,0.836288,0.135377,0.307863
2021-01-27,0.009246,0.540716,0.918060,0.621360,0.180304,0.509460,0.992327
2021-01-28,0.477894,0.716285,0.784014,0.079025,0.878258,0.068715,0.625434
2021-01-29,0.530046,0.613213,0.392253,0.807790,0.709655,0.542631,0.373644
2021-01-30,0.255070,0.170884,0.505359,0.357064,0.362848,0.447980,0.943366
2021-01-31,0.769560,0.425551,0.859313,0.621424,0.223867,0.820559,0.075064

In [5]:
d2.columns=['A','B','C','D','E','F','G']
d2

,A,B,C,D,E,F,G
2021-01-25,0.566416,0.166861,0.297047,0.921063,0.239963,0.837217,0.030350
2021-01-26,0.580461,0.835640,0.997314,0.857705,0.836288,0.135377,0.307863
2021-01-27,0.009246,0.540716,0.918060,0.621360,0.180304,0.509460,0.992327
2021-01-28,0.477894,0.716285,0.784014,0.079025,0.878258,0.068715,0.625434
2021-01-29,0.530046,0.613213,0.392253,0.807790,0.709655,0.542631,0.373644
2021-01-30,0.255070,0.170884,0.505359,0.357064,0.362848,0.447980,0.943366
2021-01-31,0.769560,0.425551,0.859313,0.621424,0.223867,0.820559,0.075064

In [6]:
d2.at[0:3,'C']=90

In [7]:
d2

,A,B,C,D,E,F,G
2021-01-25,0.566416,0.166861,90.000000,0.921063,0.239963,0.837217,0.030350
2021-01-26,0.580461,0.835640,90.000000,0.857705,0.836288,0.135377,0.307863
2021-01-27,0.009246,0.540716,90.000000,0.621360,0.180304,0.509460,0.992327
2021-01-28,0.477894,0.716285,0.784014,0.079025,0.878258,0.068715,0.625434
2021-01-29,0.530046,0.613213,0.392253,0.807790,0.709655,0.542631,0.373644
2021-01-30,0.255070,0.170884,0.505359,0.357064,0.362848,0.447980,0.943366
2021-01-31,0.769560,0.425551,0.859313,0.621424,0.223867,0.820559,0.075064

In [8]:
d2.iat[0,4]=100

In [9]:
d2

,A,B,C,D,E,F,G
2021-01-25,0.566416,0.166861,90.000000,0.921063,100.000000,0.837217,0.030350
2021-01-26,0.580461,0.835640,90.000000,0.857705,0.836288,0.135377,0.307863
2021-01-27,0.009246,0.540716,90.000000,0.621360,0.180304,0.509460,0.992327
2021-01-28,0.477894,0.716285,0.784014,0.079025,0.878258,0.068715,0.625434
2021-01-29,0.530046,0.613213,0.392253,0.807790,0.709655,0.542631,0.373644
2021-01-30,0.255070,0.170884,0.505359,0.357064,0.362848,0.447980,0.943366
2021-01-31,0.769560,0.425551,0.859313,0.621424,0.223867,0.820559,0.075064

In [10]:
d2[d2.isin([100])]=88
d2

,A,B,C,D,E,F,G
2021-01-25,0.566416,0.166861,90.000000,0.921063,88.000000,0.837217,0.030350
2021-01-26,0.580461,0.835640,90.000000,0.857705,0.836288,0.135377,0.307863
2021-01-27,0.009246,0.540716,90.000000,0.621360,0.180304,0.509460,0.992327
2021-01-28,0.477894,0.716285,0.784014,0.079025,0.878258,0.068715,0.625434
2021-01-29,0.530046,0.613213,0.392253,0.807790,0.709655,0.542631,0.373644
2021-01-30,0.255070,0.170884,0.505359,0.357064,0.362848,0.447980,0.943366
2021-01-31,0.769560,0.425551,0.859313,0.621424,0.223867,0.820559,0.075064

In [11]:
#display all rows where value of 'A' is 88
d2[d2['E']==88]

                   A         B     C         D     E         F        G
2021-01-25  0.566416  0.166861  90.0  0.921063  88.0  0.837217  0.03035

# Descriptive Statisitics

In [12]:
#mean of all columns
d2.mean()

A     0.455528
B     0.495593
C    38.934420
D     0.609347
E    13.027317
F     0.480277
G     0.478293
dtype: float64

In [13]:
#max value per column
d2.max()

A     0.769560
B     0.835640
C    90.000000
D     0.921063
E    88.000000
F     0.837217
G     0.992327
dtype: float64

In [95]:
#min value per column
d2.min()

A    0.014943
B    0.001364
C    0.098883
D    0.082883
E    0.541314
F    0.451998
G    0.202388
dtype: float64

In [14]:
#median 
d2.median()

A    0.530046
B    0.540716
C    0.859313
D    0.621424
E    0.709655
F    0.509460
G    0.373644
dtype: float64

In [15]:
#standard deviation
d2.std()

A     0.248973
B     0.257751
C    47.767735
D     0.300945
E    33.061084
F     0.299255
G     0.388462
dtype: float64

In [98]:
#variance
d2.var()

A       0.101122
B       0.040137
C    2282.795439
D       0.084166
E    1088.102942
F       0.048686
G       0.075607
dtype: float64

In [16]:
#lower quartile/first quartile
d2.quantile(0.25)

A    0.366482
B    0.298218
C    0.644687
D    0.489212
E    0.293357
F    0.291679
G    0.191464
Name: 0.25, dtype: float64

In [17]:
#second quartile/median
d2.quantile(0.50)

A    0.530046
B    0.540716
C    0.859313
D    0.621424
E    0.709655
F    0.509460
G    0.373644
Name: 0.5, dtype: float64

In [18]:
#upper quartile
d2.quantile(0.75)

A     0.573438
B     0.664749
C    90.000000
D     0.832747
E     0.857273
F     0.681595
G     0.784400
Name: 0.75, dtype: float64

In [19]:
#IQR (interquantile range)
d2.quantile(0.75)-d2.quantile(0.25)

A     0.206956
B     0.366531
C    89.355313
D     0.343535
E     0.563915
F     0.389916
G     0.592936
dtype: float64

In [20]:
#sum of column values
d2.sum()

A      3.188693
B      3.469151
C    272.540939
D      4.265431
E     91.191219
F      3.361940
G      3.348048
dtype: float64

In [21]:
#generate descriptive stats
d2.describe()

              A         B          C         D          E         F         G
count  7.000000  7.000000   7.000000  7.000000   7.000000  7.000000  7.000000
mean   0.455528  0.495593  38.934420  0.609347  13.027317  0.480277  0.478293
std    0.248973  0.257751  47.767735  0.300945  33.061084  0.299255  0.388462
min    0.009246  0.166861   0.392253  0.079025   0.180304  0.068715  0.030350
25%    0.366482  0.298218   0.644687  0.489212   0.293357  0.291679  0.191464
50%    0.530046  0.540716   0.859313  0.621424   0.709655  0.509460  0.373644
75%    0.573438  0.664749  90.000000  0.832747   0.857273  0.681595  0.784400
max    0.769560  0.835640  90.000000  0.921063  88.000000  0.837217  0.992327

In [22]:
#correlation
d2.corr()

          A         B         C         D         E         F         G
A  1.000000  0.110869 -0.262428  0.261417  0.199488  0.206341 -0.904239
B  0.110869  1.000000  0.068690 -0.064674 -0.557257 -0.713363  0.016458
C -0.262428  0.068690  1.000000  0.591665  0.470936  0.043000 -0.084676
D  0.261417 -0.064674  0.591665  1.000000  0.456085  0.497539 -0.565672
E  0.199488 -0.557257  0.470936  0.456085  1.000000  0.520110 -0.510465
F  0.206341 -0.713363  0.043000  0.497539  0.520110  1.000000 -0.437883
G -0.904239  0.016458 -0.084676 -0.565672 -0.510465 -0.437883  1.000000

In [23]:
#covariance
d2.cov()

          A         B            C         D            E         F         G
A  0.061987  0.007115    -3.121018  0.019587     1.642048  0.015374 -0.087455
B  0.007115  0.066436     0.845717 -0.005017    -4.748679 -0.055024  0.001648
C -3.121018  0.845717  2281.756497  8.505443   743.726457  0.614666 -1.571248
D  0.019587 -0.005017     8.505443  0.090568     4.537842  0.044808 -0.066130
E  1.642048 -4.748679   743.726457  4.537842  1093.035281  5.145800 -6.555892
F  0.015374 -0.055024     0.614666  0.044808     5.145800  0.089553 -0.050904
G -0.087455  0.001648    -1.571248 -0.066130    -6.555892 -0.050904  0.150903

In [24]:
x=np.percentile(d2,0.25)
x

0.011778122141245004

### Standard Deviation
- A standard deviation is a statistic that measures the dispersion of a dataset relative to its mean and is calculated as the square root of the variance. The standard deviation is calculated as the square root of variance by determining each data point's deviation relative to the mean. If the data points are further from the mean, there is a higher deviation within the data set; thus, the more spread out the data, the higher the stand

In [25]:
#sample standard deviation
import statistics as st
st.stdev(d2['B'])

0.2577509166787806

### Population Standard Deviation 
- Population standard deviation looks at the square root of the variance of the set of numbers. It's used to determine a confidence interval for drawing conclusions (such as accepting or rejecting a hypothesis). A slightly more complex calculation is called sample standard deviation.
- Calculate the mean (simple average of the numbers).
- For each number: Subtract the mean. Square the result.
- Calculate the mean of those squared differences. This is the variance.
- Take the square root of that to obtain the population standard deviation.
- Population Standard Deviation Equation

In [26]:
#population standard deviation
st.pstdev(d2['B'])

0.23863097939601524

# Apply function
- it takes a function as an input and applies this function to entire data frame.
- if you are working with tabular data,you must specify an axis you want your function to act on (0 for columns and 1 for rows)

In [117]:
d2

,A,B,C,D,E,F,G
2021-01-25,0.912985,0.197622,90.000000,0.709600,88.000000,0.979571,0.417500
2021-01-26,0.446700,0.001364,90.000000,0.461788,0.864878,0.653015,0.217102
2021-01-27,0.821728,0.159416,90.000000,0.200498,0.541314,0.975651,0.211824
2021-01-28,0.306378,0.163487,0.974563,0.082883,0.737515,0.560797,0.582075
2021-01-29,0.014943,0.035603,0.448451,0.828329,0.759975,0.517076,0.202388
2021-01-30,0.521055,0.414769,0.098883,0.659142,0.659419,0.451998,0.206139
2021-01-31,0.246752,0.557241,0.942663,0.762229,0.796516,0.850099,0.924312

In [27]:
#finding max value in columns
d2.apply(max)

A     0.769560
B     0.835640
C    90.000000
D     0.921063
E    88.000000
F     0.837217
G     0.992327
dtype: float64

In [28]:
#finding minimum value in column
d2.apply(min)

A    0.009246
B    0.166861
C    0.392253
D    0.079025
E    0.180304
F    0.068715
G    0.030350
dtype: float64

In [29]:
#sum of column values
d2.apply(sum)

A      3.188693
B      3.469151
C    272.540939
D      4.265431
E     91.191219
F      3.361940
G      3.348048
dtype: float64

In [30]:
#sum of rows
d2.apply(np.sum,axis=1)

2021-01-25    180.521907
2021-01-26     93.553334
2021-01-27     92.853414
2021-01-28      3.629624
2021-01-29      3.969231
2021-01-30      3.042572
2021-01-31      3.795339
Freq: D, dtype: float64

In [31]:
#square root of all values in a data frame
import math
d2.applymap(math.sqrt)

,A,B,C,D,E,F,G
2021-01-25,0.752606,0.408487,9.486833,0.959720,9.380832,0.914996,0.174213
2021-01-26,0.761880,0.914133,9.486833,0.926123,0.914488,0.367937,0.554854
2021-01-27,0.096154,0.735334,9.486833,0.788264,0.424622,0.713765,0.996156
2021-01-28,0.691299,0.846336,0.885445,0.281114,0.937154,0.262136,0.790844
2021-01-29,0.728043,0.783079,0.626301,0.898772,0.842410,0.736635,0.611264
2021-01-30,0.505045,0.413382,0.710886,0.597549,0.602369,0.669313,0.971270
2021-01-31,0.877246,0.652343,0.926991,0.788304,0.473145,0.905847,0.273979

In [32]:
d2.apply(lambda x:min(x))

A    0.009246
B    0.166861
C    0.392253
D    0.079025
E    0.180304
F    0.068715
G    0.030350
dtype: float64

In [33]:
d2.apply(lambda x:x*x)

,A,B,C,D,E,F,G
2021-01-25,0.320827,0.027843,8100.000000,0.848357,7744.000000,0.700933,0.000921
2021-01-26,0.336935,0.698293,8100.000000,0.735657,0.699377,0.018327,0.094780
2021-01-27,0.000085,0.292374,8100.000000,0.386088,0.032510,0.259550,0.984714
2021-01-28,0.228383,0.513064,0.614677,0.006245,0.771336,0.004722,0.391167
2021-01-29,0.280949,0.376030,0.153862,0.652525,0.503610,0.294448,0.139610
2021-01-30,0.065061,0.029201,0.255388,0.127495,0.131659,0.200686,0.889939
2021-01-31,0.592222,0.181094,0.738419,0.386168,0.050116,0.673318,0.005635

# Merge DataFrames

In [34]:
import pandas as pd
import numpy as np
d=pd.DataFrame({'id':[1,2,3,4],'Name':['divya','karan','jyoti','shikha']})
d

   id    Name
0   1   divya
1   2   karan
2   3   jyoti
3   4  shikha

In [35]:
d1=pd.DataFrame({'id':[1,3,5,6],'Name':['div','kirti','joy','shivani']})
d1

   id     Name
0   1      div
1   3    kirti
2   5      joy
3   6  shivani

In [36]:
#inner join
pd.merge(d,d1,on='id',how='inner')

   id Name_x Name_y
0   1  divya    div
1   3  jyoti  kirti

In [37]:
#full outer join
pd.merge(d,d1,on='id',how='outer')

   id  Name_x   Name_y
0   1   divya      div
1   2   karan      NaN
2   3   jyoti    kirti
3   4  shikha      NaN
4   5     NaN      joy
5   6     NaN  shivani

In [38]:
#left outer join
pd.merge(d,d1,on='id',how='left')

   id  Name_x Name_y
0   1   divya    div
1   2   karan    NaN
2   3   jyoti  kirti
3   4  shikha    NaN

In [39]:
#right outer join
pd.merge(d,d1,on='id',how='right')

   id Name_x   Name_y
0   1  divya      div
1   3  jyoti    kirti
2   5    NaN      joy
3   6    NaN  shivani

# Dealing with null values

In [139]:
import numpy as np
import pandas as pd

In [40]:
date3=pd.date_range(start='2021-01-25',periods=7)
date3

DatetimeIndex(['2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', freq='D')

In [41]:
r=np.random.random((7,7))
r

array([[0.5781643 , 0.23816353, 0.87155529, 0.20713533, 0.08335289,
        0.76099589, 0.93058819],
       [0.30690715, 0.43404167, 0.48475336, 0.90740944, 0.88053244,
        0.33517914, 0.68304472],
       [0.30141715, 0.98375507, 0.31562976, 0.45048783, 0.85311739,
        0.11770628, 0.19784838],
       [0.8743778 , 0.09894591, 0.93578372, 0.65582742, 0.07875114,
        0.18409309, 0.54459817],
       [0.35418578, 0.87968542, 0.51862676, 0.6211325 , 0.12282947,
        0.41879195, 0.44618004],
       [0.88235951, 0.49272123, 0.94101282, 0.99586259, 0.92406528,
        0.43052674, 0.17872407],
       [0.6047634 , 0.51457414, 0.66829482, 0.18516716, 0.03306081,
        0.15668901, 0.73127093]])

In [42]:
d2=pd.DataFrame(r,date3)
d2

,0,1,2,3,4,5,6
2021-01-25,0.578164,0.238164,0.871555,0.207135,0.083353,0.760996,0.930588
2021-01-26,0.306907,0.434042,0.484753,0.907409,0.880532,0.335179,0.683045
2021-01-27,0.301417,0.983755,0.315630,0.450488,0.853117,0.117706,0.197848
2021-01-28,0.874378,0.098946,0.935784,0.655827,0.078751,0.184093,0.544598
2021-01-29,0.354186,0.879685,0.518627,0.621133,0.122829,0.418792,0.446180
2021-01-30,0.882360,0.492721,0.941013,0.995863,0.924065,0.430527,0.178724
2021-01-31,0.604763,0.514574,0.668295,0.185167,0.033061,0.156689,0.731271

In [43]:
d2.columns=['A','B','C','D','E','F','G']
d2

,A,B,C,D,E,F,G
2021-01-25,0.578164,0.238164,0.871555,0.207135,0.083353,0.760996,0.930588
2021-01-26,0.306907,0.434042,0.484753,0.907409,0.880532,0.335179,0.683045
2021-01-27,0.301417,0.983755,0.315630,0.450488,0.853117,0.117706,0.197848
2021-01-28,0.874378,0.098946,0.935784,0.655827,0.078751,0.184093,0.544598
2021-01-29,0.354186,0.879685,0.518627,0.621133,0.122829,0.418792,0.446180
2021-01-30,0.882360,0.492721,0.941013,0.995863,0.924065,0.430527,0.178724
2021-01-31,0.604763,0.514574,0.668295,0.185167,0.033061,0.156689,0.731271

In [44]:
d2.at[0:8,'E']=np.NaN
d2.at[0:2, 'A']=np.NAN
d2.at[1:5, 'C']=np.NAN

In [45]:
d2

                   A         B         C         D   E         F         G
2021-01-25       NaN  0.238164  0.871555  0.207135 NaN  0.760996  0.930588
2021-01-26       NaN  0.434042       NaN  0.907409 NaN  0.335179  0.683045
2021-01-27  0.301417  0.983755       NaN  0.450488 NaN  0.117706  0.197848
2021-01-28  0.874378  0.098946       NaN  0.655827 NaN  0.184093  0.544598
2021-01-29  0.354186  0.879685       NaN  0.621133 NaN  0.418792  0.446180
2021-01-30  0.882360  0.492721  0.941013  0.995863 NaN  0.430527  0.178724
2021-01-31  0.604763  0.514574  0.668295  0.185167 NaN  0.156689  0.731271

In [46]:
#detect non missing values
#it will return true for not-null values and false for null values
d2.notna()

                A     B      C     D      E     F     G
2021-01-25  False  True   True  True  False  True  True
2021-01-26  False  True  False  True  False  True  True
2021-01-27   True  True  False  True  False  True  True
2021-01-28   True  True  False  True  False  True  True
2021-01-29   True  True  False  True  False  True  True
2021-01-30   True  True   True  True  False  True  True
2021-01-31   True  True   True  True  False  True  True

In [47]:
d2

                   A         B         C         D   E         F         G
2021-01-25       NaN  0.238164  0.871555  0.207135 NaN  0.760996  0.930588
2021-01-26       NaN  0.434042       NaN  0.907409 NaN  0.335179  0.683045
2021-01-27  0.301417  0.983755       NaN  0.450488 NaN  0.117706  0.197848
2021-01-28  0.874378  0.098946       NaN  0.655827 NaN  0.184093  0.544598
2021-01-29  0.354186  0.879685       NaN  0.621133 NaN  0.418792  0.446180
2021-01-30  0.882360  0.492721  0.941013  0.995863 NaN  0.430527  0.178724
2021-01-31  0.604763  0.514574  0.668295  0.185167 NaN  0.156689  0.731271

In [48]:
#detect missing or NULL values
#it will return True for NULL values and False for NOT-NULL values
d2.isna()

                A      B      C      D     E      F      G
2021-01-25   True  False  False  False  True  False  False
2021-01-26   True  False   True  False  True  False  False
2021-01-27  False  False   True  False  True  False  False
2021-01-28  False  False   True  False  True  False  False
2021-01-29  False  False   True  False  True  False  False
2021-01-30  False  False  False  False  True  False  False
2021-01-31  False  False  False  False  True  False  False

In [49]:
#fill all NULL values with 102
d2=d2.fillna(102)
d2

,A,B,C,D,E,F,G
2021-01-25,102.000000,0.238164,0.871555,0.207135,102.0,0.760996,0.930588
2021-01-26,102.000000,0.434042,102.000000,0.907409,102.0,0.335179,0.683045
2021-01-27,0.301417,0.983755,102.000000,0.450488,102.0,0.117706,0.197848
2021-01-28,0.874378,0.098946,102.000000,0.655827,102.0,0.184093,0.544598
2021-01-29,0.354186,0.879685,102.000000,0.621133,102.0,0.418792,0.446180
2021-01-30,0.882360,0.492721,0.941013,0.995863,102.0,0.430527,0.178724
2021-01-31,0.604763,0.514574,0.668295,0.185167,102.0,0.156689,0.731271

In [50]:
d2.at[2:8,'G']=np.NaN
d2.at[0:5, 'B']=np.NAN

In [51]:
d2

,A,B,C,D,E,F,G
2021-01-25,102.000000,NaN,0.871555,0.207135,102.0,0.760996,0.930588
2021-01-26,102.000000,NaN,102.000000,0.907409,102.0,0.335179,0.683045
2021-01-27,0.301417,NaN,102.000000,0.450488,102.0,0.117706,NaN
2021-01-28,0.874378,NaN,102.000000,0.655827,102.0,0.184093,NaN
2021-01-29,0.354186,NaN,102.000000,0.621133,102.0,0.418792,NaN
2021-01-30,0.882360,0.492721,0.941013,0.995863,102.0,0.430527,NaN
2021-01-31,0.604763,0.514574,0.668295,0.185167,102.0,0.156689,NaN

In [52]:
d2=d2.fillna(value={'B':122,'G':125})

In [53]:
d2

,A,B,C,D,E,F,G
2021-01-25,102.000000,122.000000,0.871555,0.207135,102.0,0.760996,0.930588
2021-01-26,102.000000,122.000000,102.000000,0.907409,102.0,0.335179,0.683045
2021-01-27,0.301417,122.000000,102.000000,0.450488,102.0,0.117706,125.000000
2021-01-28,0.874378,122.000000,102.000000,0.655827,102.0,0.184093,125.000000
2021-01-29,0.354186,122.000000,102.000000,0.621133,102.0,0.418792,125.000000
2021-01-30,0.882360,0.492721,0.941013,0.995863,102.0,0.430527,125.000000
2021-01-31,0.604763,0.514574,0.668295,0.185167,102.0,0.156689,125.000000

In [54]:
d2.at[0:3,'E']=np.NaN

In [55]:
d2

,A,B,C,D,E,F,G
2021-01-25,102.000000,122.000000,0.871555,0.207135,NaN,0.760996,0.930588
2021-01-26,102.000000,122.000000,102.000000,0.907409,NaN,0.335179,0.683045
2021-01-27,0.301417,122.000000,102.000000,0.450488,NaN,0.117706,125.000000
2021-01-28,0.874378,122.000000,102.000000,0.655827,102.0,0.184093,125.000000
2021-01-29,0.354186,122.000000,102.000000,0.621133,102.0,0.418792,125.000000
2021-01-30,0.882360,0.492721,0.941013,0.995863,102.0,0.430527,125.000000
2021-01-31,0.604763,0.514574,0.668295,0.185167,102.0,0.156689,125.000000

In [56]:
d2.dropna()

                   A           B           C         D      E         F      G
2021-01-28  0.874378  122.000000  102.000000  0.655827  102.0  0.184093  125.0
2021-01-29  0.354186  122.000000  102.000000  0.621133  102.0  0.418792  125.0
2021-01-30  0.882360    0.492721    0.941013  0.995863  102.0  0.430527  125.0
2021-01-31  0.604763    0.514574    0.668295  0.185167  102.0  0.156689  125.0